@using StarEnergi
@model StarEnergi.Models.ma
@{  
    String elementId = "speedo-" + Model.id_foc;
    String lastUpdate = Model.last_update.Day + " " + Config.convertMonth(Model.last_update.Month) + " " + Model.last_update.Year;
    String value;
    String name = Model.foc.nama;
    if(Model.foc.nama == "BPP II"){
        value = string.Format("{0:0}", Model.ma1);
    }else{
        value = "0";
    }
  }
<div class="speedo-title">
@{
    if (Model.foc.nama == "BPP II"){
	    <a href="#" onclick="showDetail('ma','@(Model.id_foc)')">@(name)</a>
    }else{
        <a href="#" onclick="">@(name)</a>
    }
}
</div>
<div id="@(elementId)" class="speedo-single">
	<div class="bar-big">
		<img class="big" src="" alt="" />
	</div>
	<div class="value-big">@(value)</div>
	@{ 
        if (lastUpdate != "")
        {
	        <span class="last-update" title="last update">last update @(lastUpdate)</span>
        }
     }
</div>
<script type="text/javascript">
jQuery(document).ready(function(){	
	jQuery('#@(elementId)').speedometer({
		val: @(value),
		base: '@Url.Content("~/")',
	});
});
</script>