@using StarEnergi
@model IEnumerable<StarEnergi.Models.plant>
<script type="text/javascript">
    function onSelectTree(e) {
        var treeview = $('#TreeSBS').data('tTreeView');
        var value = treeview.getItemValue(e.item).split(';');
        @*if (value[0] == '@Config.TreeType.AREA') {
            //$('#content').load('foc/Create', { 'id': value[1]} );
            $('#content').load('Foc/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.UNIT') {
            $('#content').load('Unit/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.SYSTEM') {
            $('#content').load('System/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.EQUIPMENT_GROUP') {
            $('#content').load('EquipmentGroup/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.EQUIPMENTS') {
            $('#content').load('Equipment/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.PART') {
            $('#content').load('SubEquipment/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.COMPONENT') {
            $('#content').load('Component/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.SUBCOMPONENT') {
            $('#content').load('SubComponent/Details/' + value[1]);
        } else {

        }*@
        if (value[0] == '@Config.TreeType.AREA') {
            //$('#content').load('foc/Create', { 'id': value[1]} );
            $('#content').load('Foc/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.UNIT') {
            $('#content').load('Unit/Details/' + value[1]);
        } else if (value[0] == '@Config.TreeType.SYSTEM') {
            $('#content').load('System/Details/' + value[1]);
        }  else if (value[0] == '@Config.TreeType.EQUIPMENT') {
            $('#content').load('Equipment/Details/' + value[1]);
        }  else if (value[0] == '@Config.TreeType.COMPONENT') {
            $('#content').load('Component/Details/' + value[1]);
        }  else {

        }
    }
</script>
   @(
    Html.Telerik().TreeView()
        .Name("TreeSBS")
        .BindTo(Model, mappings =>
        {
            mappings.For<StarEnergi.Models.plant>(binding => binding
                    .ItemDataBound((item, plant) =>
                    {
                        item.Text = plant.nama;
                        item.Value = Config.TreeType.PLANT + ";" + plant.id.ToString();
                        item.Expanded = true;
                        item.LoadOnDemand = plant.focs.Count > 0;
                        if (plant.focs.Count != 0) {
                            item.ImageUrl = ("~/Content/image/folder.png");
                        }else
                            item.ImageUrl = ("~/Content/image/file.png");
                    }));
            
            
        })
        .DataBinding(dataBinding => dataBinding
                .Ajax().Select("_AjaxLoadingTreeView", "Admin")
        )
        .ClientEvents(eventsTree =>
                   eventsTree.OnSelect("onSelectTree")
                  .OnLoad("onLoad")
        )
   )
<div class="borderTree"></div>
