@{
    String elementId = "speedo-1";
    String lastUpdate = "";
    String value="55";
    String name="RCC";
  }
<div class="speedo-title">
	@Html.ActionLink(name, "../Admin")
</div>
<div id="@(elementId)" class="speedo-single">
	<div class="bar-big">
		<img class="big" src="" alt="" />
	</div>
	<div class="value-big">@(value)</div>
	@{ 
        if(lastUpdate != ""){
	    <span class="last-update" title="last update">last update @(lastUpdate)</span>
	    }
     }
</div>
<script type="text/javascript">
jQuery(document).ready(function(){	
	jQuery('#@(elementId)').speedometer({
		val: @(value),
		base: '@Url.Content("~/")',
	});
});
</script>