@model StarEnergi.Models.EquipmentEntity

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#detailsBOM').load('BuildOfMAterial/RenderDetails/?id='+'@Model.equipment.id'+'&level=5');
    })

    function edit() {
        $('#content').load('equipment/edit/' + '@Model.equipment.id');
    }

    function OnRowDataBound(e) {
        var dataItem = e.dataItem;
        var row = e.row;
        if (dataItem.status == 1) {
            row.cells[5].innerHTML = 'Running';
        } else {
            row.cells[5].innerHTML = 'Down';
            row.cells[5].style.color = 'red';
        }

    }
</script>

<h2>Details</h2>

<fieldset>
    <legend>Equipment</legend>

    @*<div class="display-label">Tag Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.tag_num)
    </div>

    <div class="display-label">P&ID Tag Number</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.pnid_tag_num)
    </div>

    <div class="display-label">Nama</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.nama)
    </div>

    <div class="display-label">Econ</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.econ)
    </div>

    <div class="display-label">Ram Crit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.ram_crit)
    </div>

    <div class="display-label">PDF</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.pdf)
    </div>

    <div class="display-label">Equipment Class</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.tag_types.title)
    </div>

    <div class="display-label">Sub Class</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.discipline.title)
    </div>

    <div class="display-label">MTBF</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.mtbf)
    </div>

    <div class="display-label">MTTR</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.mttr)
    </div>

    <div class="display-label">MDT</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.mdt)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">@ViewBag.status</div>

    <div class="display-label">Installed Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.installed_date)
    </div>

    <div class="display-label">Obsolote Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.obsolete_date)
    </div>

    <div class="display-label">Sertifikasi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.sertifikasi)
    </div>

    <div class="display-label">Warranty</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.warranty)
    </div>

    <div class="display-label">Manufacture</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.vendor)
    </div>

    <div class="display-label">Data Sheet</div>
    <div class="display-field">
        @{  if (Model.equipment.data_sheet_path == null){
                Html.Display("~");
            }else{
               @Html.ActionLink(Model.equipment.data_sheet_path, "Download" + "/" + Model.equipment.id, "Download")
            }
         }
    </div>*@

    <div class="display-label">@Html.LabelFor(model => model.equipment.nama)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.nama)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.equipment.tag_num)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.tag_num)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.equipment.functional_code)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.functional_code)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.equipment.installed_date)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.installed_date)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.equipment.id_ocr)
    </div>
    <div class="display-field">
        @ViewBag.ocr
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.equipment.acr)
    </div>
    <div class="display-field">
        @ViewBag.acr.ToString().Replace(',', '.')
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.equipment.id_afp)
    </div>
    <div class="display-field">
        @ViewBag.afp
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.equipment.mpi)
    </div>
    <div class="display-field">
        @ViewBag.mpi.ToString().Replace(',', '.')
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.equipment.id_tag_type)
    </div>
    <div class="display-field">
        @ViewBag.tagType
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.equipment.id_discipline)
    </div>
    <div class="display-field">
        @ViewBag.dicipline
    </div>

    <div class="display-label">@Html.LabelFor(model => model.equipment.sertifikasi)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.sertifikasi)
    </div>

   <p>
        <input type="button" value="Edit" onclick="edit()" />
    </p>
</fieldset>
<div id="detailsBOM">

</div>
