@model StarEnergi.Models.unit

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function edit() {
        $('#content').load('unit/edit/'+ @Model.id);
    }
</script>
<h2>Details</h2>

<fieldset>
    <legend>unit</legend>

    <div class="display-label">@Html.LabelFor(model => model.nama)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nama)
    </div>

    @*<div class="display-label">MA</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ma)
    </div>

    <div class="display-label">MASD</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.masd)
    </div>*@

    <div class="display-label">@Html.LabelFor(model => model.functional_code)</div>
    <div class="display-field">
        <span class="font-monospace">@Model.foc.nama</span>@Html.DisplayFor(model => model.functional_code)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.unit_description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit_description)
    </div>
    <p>
        <input id="edit-button" type="button" value="Edit" onclick="edit()" />
    </p>
</fieldset>
<script>
    $(document).ready(function () {
        if (typeof src !== 'undefined') {
            if (src == "asset-register") {
                $('#edit-button').hide();
            }
        }

    });

</script>



