@{
    ViewBag.Title = "Daily Log";
    List<StarEnergi.Models.user_per_role> li = null;
    if (ViewData["user_role"] != null)
    {
        li = ViewData["user_role"] as List<StarEnergi.Models.user_per_role>;
    }
}
<script type="text/javascript">

    function addDailyLog() {
        $('#contentEventLog').load('DailyLogs/AddDailyLog');
    }

    function showDailyLog() {
        $('#dailyLog').load('DailyLogs/Report');
    }

    function showOperationalWarning() {
        $('#operationWarning').load('DailyLogs/operationalWarning');
    }

    function showWeeklyTarget() {
        $('#weeklyTarget').load('DailyLogs/weeklyTarget');
    }

    function showKPI() {
        $('#dailyLogKPI').load('DailyLogs/keyPerformanceIndicator');
    }

    function loadExport() {
        var detailWindow = $("#ExportReport").data("tWindow");
        $('#type').val('0');
        detailWindow.center().open();
    }

    function exportReport() {
        var detailWindow = $("#ExportReport").data("tWindow");
        detailWindow.close();
        var from = $('#date_from').val();
        var to = $('#date_to').val();
        var arrRole = [];

        for (var i in document.getElementsByName("section")) {
            if (document.getElementsByName("section")[i].checked)
                arrRole.push(document.getElementsByName("section")[i].value);
        }

        if ($('#type').val() == 0) {
            window.location = '/DailyLogs/PrintReport?fromD=' + from + '&toD=' + to + '&sections=' + arrRole;
        }
    }

    function removeUploadBlock() {
        $('#upload-daily-log').removeAttr('disabled');
    }

    $(document).ready(function () {
        showKPI();
        showOperationalWarning();
        showWeeklyTarget();
        showDailyLog();
    });



</script>
<div id = "contentEventLog">
<h2 class="adminH2">Daily Log</h2>
<h3>Key Performance Indicator</h3>
<div id="dailyLogKPI" style="height:125px">
</div>
<hr />
<h3>Operation Memo</h3>
<div id="operationWarning">
</div>
<hr />
<h3>Weekly Target</h3>
<div id="weeklyTarget">
</div>
<hr />
<h3>List of Daily Log(s)</h3>
    @if (li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.DAILYLOG))
    {
<div>
    <input type="button" id="addDailyLog" value="Add Daily Log" onclick="addDailyLog()"/>
    <input type="button" id="exportReport" value="Export Report" onclick="loadExport()"/>
</div>
    }
<br/>
<div id="dailyLog">
</div>
<br />
<hr />
@if (li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.DAILYLOG))
{
using (Html.BeginForm("LoadExcel", "DailyLogs", FormMethod.Post, new { enctype = "multipart/form-data", name = "formUpload", target = "upload_target" }))
{
    	 <p class="title">Import Daily Log Data From Excel</p>
		 	 
		 <div class="info_inside_left">Excel File (.xls) :</div> 
		 <input type="text" id="fileName" class="file_input_textbox" readonly="readonly" />
		 <div class="file_input_div" style="width:200px">
			<input type="button" value="Browse" class="file_input_button" style="width:75px"/>
			<input type="file" class="file_input_hidden" name="userfile" onchange="javascript: document.getElementById('fileName').value = this.value" />
		 </div>
		 <br />
		 <input type="button" value="Upload" id="upload-daily-log" onclick="javascript:if(document.formUpload.userfile.value.length==0) { alert('You must specify a file first'); return; }; $('#upload-daily-log').attr('disabled','disabled'); submit(); $('#DailyLog').data('tGrid').ajaxRequest()" />@*
		 <input type="button" value="Download template Day Shift" onclick="window.location = 'LoadExcel/template?file=@StarEnergi.Config.fileDailyLogDay    '" />
         <input type="button" value="Download template Night Shift" onclick="window.location = 'LoadExcel/template?file=@StarEnergi.Config.fileDailyLogNight    '" />*@
        <input type="button" value="Download template Day Shift" onclick="window.location = '@Url.Action("GenerateExcelDayShift","DailyLogs",null)'" />
        <input type="button" value="Download template Night Shift" onclick="window.location = '@Url.Action("GenerateExcelNightShift","DailyLogs",null)'" />
}
<br/>
<iframe id="upload_target" name="upload_target" src="" width="980" height="350" style="border:0px solid #fff;" onload="removeUploadBlock();"></iframe>
}
</div>
@(Html.Telerik().Window()
    .Name("ExportReport")
    .Visible(false)
    .Title("Export Report")
    .Modal(true)
    .Width(400)
    .Content(@<text>
               <div class="info">

                   <input type="hidden" id="type" />
                    <div class="info_inside_left">From</div>
		            <div class="infoFieldinput">
                        @(Html.Telerik().DatePicker()
                            .Name("date_from")
                            .HtmlAttributes(new { id = "datetime_wrapper", style = "width:100px" })
                            .Value(DateTime.Today)
                        )
                    </div>
                   <div class="info_inside_left">To</div>
		            <div class="infoFieldinput">
                        @(Html.Telerik().DatePicker()
                            .Name("date_to")
                            .HtmlAttributes(new { id = "datetime_wrapper", style = "width:100px" })
                            .Value(DateTime.Today)
                        )
                    </div>
                   <div class="info_inside_left">Section</div>
		            <div class="infoFieldinput">
                        <input type="checkbox" name="section" id="section_1" value="1" />Section 1 - Group<br />
                        <input type="checkbox" name="section" id="section_2" value="2" />Section 2 - Activities<br />
                        <input type="checkbox" name="section" id="section_3" value="3" />Section 3 - Metering & Dispatch<br />
                        <input type="checkbox" name="section" id="section_4" value="4" />Section 4 - Target & Achievement<br />
                        <input type="checkbox" name="section" id="section_5" value="5" />Section 5 - Last Plant Status<br />
                    </div>
	            <p class="submit">
		            <input name="Submit" value="Save" type="submit" onclick="exportReport();" />
	            </p>
	         </div>
        </text>)
)