@{
    double? s = ViewBag.month_wpnb_achievement as Nullable<Double>;
    System.Diagnostics.Debug.WriteLine(s);  

}
<link rel="stylesheet" type="text/css" href="../../../Content/screen.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../../../Content/style.css" media="screen, projection" />
<table class="w-border">
    <tr>
        <td>&nbsp;</td>
        <td>Target</td>
        <td>Achievement</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Daily Target (@((ViewBag.date_day as Nullable<DateTime>).Value.ToShortDateString()))</td>
        <td>@ViewBag.today_target MWh</td>
        <td>@ViewBag.today_achievement MWh</td>
        <td>@((ViewBag.today_achievement as Nullable<Double>).Value >= (ViewBag.today_target as Nullable<Double>).Value ? "Success" : "Fail")</td>
    </tr>
    <tr>
        <td>Weekly Target (@((ViewBag.date_week_start as Nullable<DateTime>).Value.ToShortDateString()) - @((ViewBag.date_week_last as Nullable<DateTime>).Value.ToShortDateString()))</td>
        <td>@ViewBag.week_target MWh</td>
        <td>@ViewBag.week_achievement MWh</td>
        <td>@((ViewBag.week_achievement as Nullable<Double>).Value >= (ViewBag.week_target as Nullable<Double>).Value ? "Success" : "Fail")</td>
    </tr>
    <tr>
        <td>Monthly Target (@((ViewBag.date_month as Nullable<DateTime>).Value.Month)-@((ViewBag.date_month as Nullable<DateTime>).Value.Year))</td>
        <td>@ViewBag.month_target MWh</td>
        <td>@ViewBag.month_achievement MWh</td>
        <td>@((ViewBag.month_achievement as Nullable<Double>).Value >= (ViewBag.month_target as Nullable<Double>).Value ? "Success" : "Fail")</td>
    </tr>
    <tr>
        <td>Monthly WP & B (@((ViewBag.date_month as Nullable<DateTime>).Value.Month)-@((ViewBag.date_month as Nullable<DateTime>).Value.Year)) <input type="button" id="wpnb" name="wpnb" value="Add" @((ViewBag.month_wpnb_target as Nullable<Double>) == 0 ? "style=display:block" : "style=display:none") onclick="addWPNB()"/></td>
        <td id="target_view">@ViewBag.month_wpnb_target MWh</td>
        <td id="achievement_view">@ViewBag.month_wpnb_achievement MWh</td>
        <td id="result">@((ViewBag.month_wpnb_achievement as Nullable<Double>).Value >= (ViewBag.month_wpnb_target as Nullable<Double>).Value ? "Success" : "Fail")</td>
    </tr>
</table>
@(Html.Telerik().Window()
    .Name("AddWPNB")
    .Visible(false)
    .Title("Add WP & B")
    .Modal(true)
    .Width(400)
    .Content(@<text>
               <div class="info">
                    <div class="info_inside_left">Month </div>
		            <div class="infoFieldinput">
                        <select id="month" name="month" disabled>
                            <option value="" disabled>Choose One</option>
                            <option value="1">January</option>  
                            <option value="2">February</option>  
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
		            </div>
                    <div class="info_inside_left">Year </div>
		            <div class="infoFieldinput"><input type="text" id="year" name="year" value="" disabled/></div>
		            <div class="info_inside_left">Target </div>
		            <div class="infoFieldinput"><input type="text" id="target" name="target" value="" /></div>
                    <div class="info_inside_left">Achievement </div>
		            <div class="infoFieldinput"><input type="text" id="achievement" name="achievement" value="" /></div>
	            <p class="submit">
		            <input name="Submit" value="Save" type="submit" onclick="add_ajax();" />
	            </p>
	         </div>
        </text>)
)
<script type="text/javascript">
    function addWPNB() {
        $('#month').val('@((ViewBag.date_month as Nullable<DateTime>).Value.Month)');
        $('#year').val('@((ViewBag.date_month as Nullable<DateTime>).Value.Year)');
        $('#AddWPNB').data('tWindow').center().open();
    }

    function add_ajax() {
        $.ajax({
            type: "POST",
            url: "DailyLogs/AddWPNB",
            traditional: true,
            data: {
                month: $('#month').val(),
                year: $('#year').val(),
                target: $('#target').val(),
                achievement: $('#achievement').val()
            },
            success: function (data) {
                $("#wpnb").attr('disabled', 'disabled');
                $('#target_view').val($('#target').val());
                $('#achievement_view').val($('#achievement').val());
                if (parseFloat($('#target').val()) <= parseFloat($('#achievement').val())) {
                    $('#result').val("Success");
                } else {
                    $('#result').val("Fail");
                }
                $("#AddWPNB").data("tWindow").close();
                window.location = "/DailyLogs";
            }
        });
    }
</script>
