@using StarEnergi
@model StarEnergi.Models.equipment_groups

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function save() {
        var values =
        {
            "Id": $('#id').val(),
            "Nama": $('#nama').val(),
            "Description": $('#eqDescription').val(),
            "Id_system": eval('@ViewBag.id_system')
        }

        $.post("EquipmentGroup/Edit", values, function (data) {
            if (data != undefined) {
                if (data["status"] == 0) {
                    var html = $('#TreeSBS').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().find('img').attr('src');
                    var image = '<img class="t-image" src="' + html + '" alt="image">';
                    $('#TreeSBS').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().html(image + $('#eqDescription').val());
                    $('#content').load('EquipmentGroup/details/' + $('#id').val());
                } else {
                    clearError();
                    $.each(data, function (index, value) {
                        if (index != "status") {
                            //error render
                            $('#' + index).next('div').html(value);
                        }
                    });
                }
            } else {
                alert('Gagal menambahkan data equipment');
            }
        });

    }

    function clearError() {
        var field = ["nama"];
        $.each(field, function (index, value) {
            $('#' + value).next('div').html('');
        });
    }
</script>

<div class="fieldR">* Required Field</div>
@Html.ValidationSummary(true)
<fieldset>
    <legend>Equipment Groups</legend>

    @Html.HiddenFor(model => model.id)

    <div class="editor-label">
        @Html.LabelFor(model => model.nama)<a class="bintang">*</a>
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.nama)
        <div class="errorM"></div>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.description)<a class="bintang">*</a>
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.description, new { id="eqDescription"})
        <div class="errorM"></div>
    </div>
    <p>
        <input type="submit" value="Save" onclick="save()"/>
    </p>
</fieldset>
