@{
    int? id = null;
    bool isEdit = false;
    StarEnergi.Models.she_observation dl = null;
    if (ViewBag.mod != null)
    {
        id = ViewBag.mod as Nullable<Int32>;
        dl = ViewBag.datas as StarEnergi.Models.she_observation;
        dl.observer = dl.observer.Split('#').First();
        isEdit = true;
    }
    List<StarEnergi.Models.EmployeeEntity> has = null;
    if (ViewBag.user != null)
    {
        has = ViewBag.user as List<StarEnergi.Models.EmployeeEntity>;
    }
    List<StarEnergi.Models.user_per_role> li = null;
    if (HttpContext.Current.Session["roles"] != null)
    {
        li = HttpContext.Current.Session["roles"] as List<StarEnergi.Models.user_per_role>;
    }
}

<link rel="stylesheet" type="text/css" href="../../../Content/screen.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="../../../Content/style.css" media="screen, projection" />
<div class="container">
	<header>
		<div class="page-title" style="width:980px">
            <h4>
                <b>Category : </b><br />
                <input type="checkbox" style="margin-left:15px;" id="she_obs" name="she_obs" @(isEdit ? dl.she_obs == 1 ? "checked" : "" : "")/>SHE OBSERVATIONS <br />
                <input type="checkbox" style="margin-left:15px;" id="she_ins" name="she_ins" @(isEdit ? dl.she_ins == 1 ? "checked" : "" : "")/>SHE INSPECTION
            </h4>
		</div>		
	</header>
    <div id="content-observation">
	    <div class="log-part1">
            <div class="clearfix" style="width:768px"></div>
		    <b>OBSERVE -> STOP -> DISCUSS -> COMMITMENT -> REPORT<br />
            OBSERVE -> CORRECTIVE -> PREVENT RECURRENT -> REPORT</b>
		    <table class="w-border" style="width:980px">
			    <tr>
				    <td class="no-border-btm"><b>WRITE</b></td>
                    <td class="center" rowspan="3"><b>SEVERITY</b></td>
                    <td class="center" rowspan="3"><b>OBSERVATION CHECKLIST</b></td>
                    <td class="rights no-border-btm"><b>WRITE</b></td>
			    </tr>
                <tr>
				    <td class="no-border-btm no-border-top"><b>UA - UNSAFE ACT</b></td>
                    <td class="rights no-border-btm no-border-top"><b>SAFE ACT - SA</b></td>
			    </tr>
			    <tr>
				    <td class="no-border-top"><b>UC - UNSAFE COND</b></td>
                    <td class="rights no-border-top"><b>SAFE COND - SC</b></td>
			    </tr>
		    </table>
	    </div>
	    <div class="log-part2">
            <table class="w-border" style="width:980px">
		        <tr>
			        <td class="orange-bg center" colspan="4"><b>1. SAFETY</b></td>
		        </tr>
		        <tr>
			        <td class="" style="width:100px">
                        <input type="radio" id="accident_unsafe_act" name="accident_unsafe" value="1" />UA
                        <input type="radio" id="accident_unsafe_cond" name="accident_unsafe" value="1" />UC
			        </td>
                    <td class="" style="width:250px">
                        <input type="radio" id="accident_risk_fatality" name="accident_risk" value="1" />Serious
                        <input type="radio" id="accident_risk_major" name="accident_risk" value="1" />Moderate
                        <input type="radio" id="accident_risk_minor" name="accident_risk" value="1" />Minor
			        </td>
			        <td>Potential accident - Berpotensi kecelakaan</td>
                    <td style="width:100px">
                        <input type="radio" id="accident_safe_act" name="accident_safe" value="1" />SA
                        <input type="radio" id="accident_safe_cond" name="accident_safe" value="1" />SC
			        </td>
		        </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="fire_unsafe_act" name="fire_unsafe" value="1" />UA
					    <input type="radio" id="fire_unsafe_cond" name="fire_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="fire_risk_fatality" name="fire_risk" value="1" />Serious
					    <input type="radio" id="fire_risk_major" name="fire_risk" value="1" />Moderate
					    <input type="radio" id="fire_risk_minor" name="fire_risk" value="1" />Minor
				    </td>
				    <td>Potential fire/explode - Berpotensi kebakaran/meledak</td>
				    <td style="width:100px">
					    <input type="radio" id="fire_safe_act" name="fire_safe" value="1" />SA
					    <input type="radio" id="fire_safe_cond" name="fire_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="prevention_unsafe_act" name="prevention_unsafe" value="1" />UA
					    <input type="radio" id="prevention_unsafe_cond" name="prevention_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="prevention_risk_fatality" name="prevention_risk" value="1" />Serious
					    <input type="radio" id="prevention_risk_major" name="prevention_risk" value="1" />Moderate
					    <input type="radio" id="prevention_risk_minor" name="prevention_risk" value="1" />Minor
				    </td>
				    <td>Incident Prevention Program - Pencegahan kecelakaan</td>
				    <td style="width:100px">
					    <input type="radio" id="prevention_safe_act" name="prevention_safe" value="1" />SA
					    <input type="radio" id="prevention_safe_cond" name="prevention_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="supervisor_unsafe_act" name="supervisor_unsafe" value="1" />UA
					    <input type="radio" id="supervisor_unsafe_cond" name="supervisor_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="supervisor_risk_fatality" name="supervisor_risk" value="1" />Serious
					    <input type="radio" id="supervisor_risk_major" name="supervisor_risk" value="1" />Moderate
					    <input type="radio" id="supervisor_risk_minor" name="supervisor_risk" value="1" />Minor
				    </td>
				    <td>Supervisor in locations - Pengawas berada di lokasi</td>
				    <td style="width:100px">
					    <input type="radio" id="supervisor_safe_act" name="supervisor_safe" value="1" />SA
					    <input type="radio" id="supervisor_safe_cond" name="supervisor_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
			        <td class="orange-bg center" colspan="4"><b>2. HEALTH</b></td>
		        </tr>
		        <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="fit_work_unsafe_act" name="fit_work_unsafe" value="1" />UA
					    <input type="radio" id="fit_work_unsafe_cond" name="fit_work_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="fit_work_risk_fatality" name="fit_work_risk" value="1" />Serious
					    <input type="radio" id="fit_work_risk_major" name="fit_work_risk" value="1" />Moderate
					    <input type="radio" id="fit_work_risk_minor" name="fit_work_risk" value="1" />Minor
				    </td>
				    <td>Fit for work - Kondisi sehat/siap untuk kerja</td>
				    <td style="width:100px">
					    <input type="radio" id="fit_work_safe_act" name="fit_work_safe" value="1" />SA
					    <input type="radio" id="fit_work_safe_cond" name="fit_work_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="psychological_unsafe_act" name="psychological_unsafe" value="1" />UA
					    <input type="radio" id="psychological_unsafe_cond" name="psychological_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="psychological_risk_fatality" name="psychological_risk" value="1" />Serious
					    <input type="radio" id="psychological_risk_major" name="psychological_risk" value="1" />Moderate
					    <input type="radio" id="psychological_risk_minor" name="psychological_risk" value="1" />Minor
				    </td>
				    <td>Psychological problem - Masalah Psikologi</td>
				    <td style="width:100px">
					    <input type="radio" id="psychological_safe_act" name="psychological_safe" value="1" />SA
					    <input type="radio" id="psychological_safe_cond" name="psychological_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="posture_unsafe_act" name="posture_unsafe" value="1" />UA
					    <input type="radio" id="posture_unsafe_cond" name="posture_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="posture_risk_fatality" name="posture_risk" value="1" />Serious
					    <input type="radio" id="posture_risk_major" name="posture_risk" value="1" />Moderate
					    <input type="radio" id="posture_risk_minor" name="posture_risk" value="1" />Minor
				    </td>
				    <td>Posture/ergonomics - Ergonomi/posisi tubuh</td>
				    <td style="width:100px">
					    <input type="radio" id="posture_safe_act" name="posture_safe" value="1" />SA
					    <input type="radio" id="posture_safe_cond" name="posture_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="substance_unsafe_act" name="substance_unsafe" value="1" />UA
					    <input type="radio" id="substance_unsafe_cond" name="substance_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="substance_risk_fatality" name="substance_risk" value="1" />Serious
					    <input type="radio" id="substance_risk_major" name="substance_risk" value="1" />Moderate
					    <input type="radio" id="substance_risk_minor" name="substance_risk" value="1" />Minor
				    </td>
				    <td>Hazardous Substance - Bahan berbahaya ke tubuh</td>
				    <td style="width:100px">
					    <input type="radio" id="substance_safe_act" name="substance_safe" value="1" />SA
					    <input type="radio" id="substance_safe_cond" name="substance_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="hygiene_unsafe_act" name="hygiene_unsafe" value="1" />UA
					    <input type="radio" id="hygiene_unsafe_cond" name="hygiene_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="hygiene_risk_fatality" name="hygiene_risk" value="1" />Serious
					    <input type="radio" id="hygiene_risk_major" name="hygiene_risk" value="1" />Moderate
					    <input type="radio" id="hygiene_risk_minor" name="hygiene_risk" value="1" />Minor
				    </td>
				    <td>Hygiene & sanitation - Kebersihan & kesehatan</td>
				    <td style="width:100px">
					    <input type="radio" id="hygiene_safe_act" name="hygiene_safe" value="1" />SA
					    <input type="radio" id="hygiene_safe_cond" name="hygiene_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
			        <td class="orange-bg center" colspan="4"><b>3. ENVIRONMENT</b></td>
		        </tr>
		        <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="house_unsafe_act" name="house_unsafe" value="1" />UA
					    <input type="radio" id="house_unsafe_cond" name="house_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="house_risk_fatality" name="house_risk" value="1" />Serious
					    <input type="radio" id="house_risk_major" name="house_risk" value="1" />Moderate
					    <input type="radio" id="house_risk_minor" name="house_risk" value="1" />Minor
				    </td>
				    <td>House keeping - Kerapihan & kebersihan</td>
				    <td style="width:100px">
					    <input type="radio" id="house_safe_act" name="house_safe" value="1" />SA
					    <input type="radio" id="house_safe_cond" name="house_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="standard_unsafe_act" name="standard_unsafe" value="1" />UA
					    <input type="radio" id="standard_unsafe_cond" name="standard_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="standard_risk_fatality" name="standard_risk" value="1" />Serious
					    <input type="radio" id="standard_risk_major" name="standard_risk" value="1" />Moderate
					    <input type="radio" id="standard_risk_minor" name="standard_risk" value="1" />Minor
				    </td>
				    <td>Standard labeling - Pemberian simbol2 standar</td>
				    <td style="width:100px">
					    <input type="radio" id="standard_safe_act" name="standard_safe" value="1" />SA
					    <input type="radio" id="standard_safe_cond" name="standard_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="spill_unsafe_act" name="spill_unsafe" value="1" />UA
					    <input type="radio" id="spill_unsafe_cond" name="spill_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="spill_risk_fatality" name="spill_risk" value="1" />Serious
					    <input type="radio" id="spill_risk_major" name="spill_risk" value="1" />Moderate
					    <input type="radio" id="spill_risk_minor" name="spill_risk" value="1" />Minor
				    </td>
				    <td>Potential of Spill/emission - Berpotensi pencemaran</td>
				    <td style="width:100px">
					    <input type="radio" id="spill_safe_act" name="spill_safe" value="1" />SA
					    <input type="radio" id="spill_safe_cond" name="spill_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="waste_energy_unsafe_act" name="waste_energy_unsafe" value="1" />UA
					    <input type="radio" id="waste_energy_unsafe_cond" name="waste_energy_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="waste_energy_risk_fatality" name="waste_energy_risk" value="1" />Serious
					    <input type="radio" id="waste_energy_risk_major" name="waste_energy_risk" value="1" />Moderate
					    <input type="radio" id="waste_energy_risk_minor" name="waste_energy_risk" value="1" />Minor
				    </td>
				    <td>Waste Energy/Inefficient - Boros enerji</td>
				    <td style="width:100px">
					    <input type="radio" id="waste_energy_safe_act" name="waste_energy_safe" value="1" />SA
					    <input type="radio" id="waste_energy_safe_cond" name="waste_energy_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="containment_unsafe_act" name="containment_unsafe" value="1" />UA
					    <input type="radio" id="containment_unsafe_cond" name="containment_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="containment_risk_fatality" name="containment_risk" value="1" />Serious
					    <input type="radio" id="containment_risk_major" name="containment_risk" value="1" />Moderate
					    <input type="radio" id="containment_risk_minor" name="containment_risk" value="1" />Minor
				    </td>
				    <td>Containment adequacy - Pencegahan pencemaran</td>
				    <td style="width:100px">
					    <input type="radio" id="containment_safe_act" name="containment_safe" value="1" />SA
					    <input type="radio" id="containment_safe_cond" name="containment_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="absorbent_unsafe_act" name="absorbent_unsafe" value="1" />UA
					    <input type="radio" id="absorbent_unsafe_cond" name="absorbent_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="absorbent_risk_fatality" name="absorbent_risk" value="1" />Serious
					    <input type="radio" id="absorbent_risk_major" name="absorbent_risk" value="1" />Moderate
					    <input type="radio" id="absorbent_risk_minor" name="absorbent_risk" value="1" />Minor
				    </td>
				    <td>Absorbent availability - Ketersediaan alat penyerap</td>
				    <td style="width:100px">
					    <input type="radio" id="absorbent_safe_act" name="absorbent_safe" value="1" />SA
					    <input type="radio" id="absorbent_safe_cond" name="absorbent_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
			        <td class="orange-bg center" colspan="4"><b>4. DOCUMENT/PROCEDURE</b><br /><b>(availability, adequacy, understood, follow, comply)</b></td>
		        </tr>
		        <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="hira_unsafe_act" name="hira_unsafe" value="1" />UA
					    <input type="radio" id="hira_unsafe_cond" name="hira_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="hira_risk_fatality" name="hira_risk" value="1" />Serious
					    <input type="radio" id="hira_risk_major" name="hira_risk" value="1" />Moderate
					    <input type="radio" id="hira_risk_minor" name="hira_risk" value="1" />Minor
				    </td>
				    <td>HIRA/JSA - Identifikasi bahaya & penanggulangan</td>
				    <td style="width:100px">
					    <input type="radio" id="hira_safe_act" name="hira_safe" value="1" />SA
					    <input type="radio" id="hira_safe_cond" name="hira_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="ptw_unsafe_act" name="ptw_unsafe" value="1" />UA
					    <input type="radio" id="ptw_unsafe_cond" name="ptw_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="ptw_risk_fatality" name="ptw_risk" value="1" />Serious
					    <input type="radio" id="ptw_risk_major" name="ptw_risk" value="1" />Moderate
					    <input type="radio" id="ptw_risk_minor" name="ptw_risk" value="1" />Minor
				    </td>
				    <td>PTW/ Special PTW - Dokumen ijin kerja</td>
				    <td style="width:100px">
					    <input type="radio" id="ptw_safe_act" name="ptw_safe" value="1" />SA
					    <input type="radio" id="ptw_safe_cond" name="ptw_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="sop_unsafe_act" name="sop_unsafe" value="1" />UA
					    <input type="radio" id="sop_unsafe_cond" name="sop_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="sop_risk_fatality" name="sop_risk" value="1" />Serious
					    <input type="radio" id="sop_risk_major" name="sop_risk" value="1" />Moderate
					    <input type="radio" id="sop_risk_minor" name="sop_risk" value="1" />Minor
				    </td>
				    <td>SOP/Guidline/working instruction - Petunjuk kerja</td>
				    <td style="width:100px">
					    <input type="radio" id="sop_safe_act" name="sop_safe" value="1" />SA
					    <input type="radio" id="sop_safe_cond" name="sop_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="msds_unsafe_act" name="msds_unsafe" value="1" />UA
					    <input type="radio" id="msds_unsafe_cond" name="msds_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="msds_risk_fatality" name="msds_risk" value="1" />Serious
					    <input type="radio" id="msds_risk_major" name="msds_risk" value="1" />Moderate
					    <input type="radio" id="msds_risk_minor" name="msds_risk" value="1" />Minor
				    </td>
				    <td>MSDS - Material Safety Data Sheets</td>
				    <td style="width:100px">
					    <input type="radio" id="msds_safe_act" name="msds_safe" value="1" />SA
					    <input type="radio" id="msds_safe_cond" name="msds_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="emergency_unsafe_act" name="emergency_unsafe" value="1" />UA
					    <input type="radio" id="emergency_unsafe_cond" name="emergency_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="emergency_risk_fatality" name="emergency_risk" value="1" />Serious
					    <input type="radio" id="emergency_risk_major" name="emergency_risk" value="1" />Moderate
					    <input type="radio" id="emergency_risk_minor" name="emergency_risk" value="1" />Minor
				    </td>
				    <td>Emergency Preparedness - Siap tanggap darurat</td>
				    <td style="width:100px">
					    <input type="radio" id="emergency_safe_act" name="emergency_safe" value="1" />SA
					    <input type="radio" id="emergency_safe_cond" name="emergency_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="certificates_unsafe_act" name="certificates_unsafe" value="1" />UA
					    <input type="radio" id="certificates_unsafe_cond" name="certificates_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="certificates_risk_fatality" name="certificates_risk" value="1" />Serious
					    <input type="radio" id="certificates_risk_major" name="certificates_risk" value="1" />Moderate
					    <input type="radio" id="certificates_risk_minor" name="certificates_risk" value="1" />Minor
				    </td>
				    <td>Certificates - sertifikat operator/perjalanan</td>
				    <td style="width:100px">
					    <input type="radio" id="certificates_safe_act" name="certificates_safe" value="1" />SA
					    <input type="radio" id="certificates_safe_cond" name="certificates_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
			        <td class="orange-bg center" colspan="4"><b>5. TOOLS & EQUIPMENTS</b><br /><b>(wrong for the job, used incorrectly, unsafe condition)</b></td>
		        </tr>
		        <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="ppe_unsafe_act" name="ppe_unsafe" value="1" onclick="show_equipment();" />UA
					    <input type="radio" id="ppe_unsafe_cond" name="ppe_unsafe" value="1" onclick="show_equipment();" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="ppe_risk_fatality" name="ppe_risk" value="1" />Serious
					    <input type="radio" id="ppe_risk_major" name="ppe_risk" value="1" />Moderate
					    <input type="radio" id="ppe_risk_minor" name="ppe_risk" value="1" />Minor
				    </td>
				    <td>PPE - Alat Pelindung Diri
                        <select id="ppe_equipment" style="display:none">
                            <option value="">Choose One</option>
                            <option value="0">Safety helmet</option>
                            <option value="1">Safety gloves</option>
                            <option value="2">Safety glasses</option>
                            <option value="3">Safety shoes</option>
                            <option value="4">Safety ear protection</option>
                        </select>
				    </td>
				    <td style="width:100px">
					    <input type="radio" id="ppe_safe_act" name="ppe_safe" value="1" onclick="show_equipment();" />SA
					    <input type="radio" id="ppe_safe_cond" name="ppe_safe" value="1" onclick="show_equipment();" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="hand_unsafe_act" name="hand_unsafe" value="1" />UA
					    <input type="radio" id="hand_unsafe_cond" name="hand_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="hand_risk_fatality" name="hand_risk" value="1" />Serious
					    <input type="radio" id="hand_risk_major" name="hand_risk" value="1" />Moderate
					    <input type="radio" id="hand_risk_minor" name="hand_risk" value="1" />Minor
				    </td>
				    <td>Hand / portable tools - Alat portabel</td>
				    <td style="width:100px">
					    <input type="radio" id="hand_safe_act" name="hand_safe" value="1" />SA
					    <input type="radio" id="hand_safe_cond" name="hand_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="mechanical_unsafe_act" name="mechanical_unsafe" value="1" />UA
					    <input type="radio" id="mechanical_unsafe_cond" name="mechanical_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="mechanical_risk_fatality" name="mechanical_risk" value="1" />Serious
					    <input type="radio" id="mechanical_risk_major" name="mechanical_risk" value="1" />Moderate
					    <input type="radio" id="mechanical_risk_minor" name="mechanical_risk" value="1" />Minor
				    </td>
				    <td>Mechanical - Mekanis</td>
				    <td style="width:100px">
					    <input type="radio" id="mechanical_safe_act" name="mechanical_safe" value="1" />SA
					    <input type="radio" id="mechanical_safe_cond" name="mechanical_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="electrical_unsafe_act" name="electrical_unsafe" value="1" />UA
					    <input type="radio" id="electrical_unsafe_cond" name="electrical_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="electrical_risk_fatality" name="electrical_risk" value="1" />Serious
					    <input type="radio" id="electrical_risk_major" name="electrical_risk" value="1" />Moderate
					    <input type="radio" id="electrical_risk_minor" name="electrical_risk" value="1" />Minor
				    </td>
				    <td>Electrical / electronic - Listrik</td>
				    <td style="width:100px">
					    <input type="radio" id="electrical_safe_act" name="electrical_safe" value="1" />SA
					    <input type="radio" id="electrical_safe_cond" name="electrical_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="vehicular_unsafe_act" name="vehicular_unsafe" value="1" />UA
					    <input type="radio" id="vehicular_unsafe_cond" name="vehicular_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:200px">
					    <input type="radio" id="vehicular_risk_fatality" name="vehicular_risk" value="1" />Serious
					    <input type="radio" id="vehicular_risk_major" name="vehicular_risk" value="1" />Moderate
					    <input type="radio" id="vehicular_risk_minor" name="vehicular_risk" value="1" />Minor
				    </td>
				    <td>Vehicular / heavy equipment - kendaraan/alat berat</td>
				    <td style="width:100px">
					    <input type="radio" id="vehicular_safe_act" name="vehicular_safe" value="1" />SA
					    <input type="radio" id="vehicular_safe_cond" name="vehicular_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
			        <td class="orange-bg center" colspan="4"><b>6. WORKING AREA</b></td>
		        </tr>
		        <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="substandard_unsafe_act" name="substandard_unsafe" value="1" />UA
					    <input type="radio" id="substandard_unsafe_cond" name="substandard_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="substandard_risk_fatality" name="substandard_risk" value="1" />Serious
					    <input type="radio" id="substandard_risk_major" name="substandard_risk" value="1" />Moderate
					    <input type="radio" id="substandard_risk_minor" name="substandard_risk" value="1" />Minor
				    </td>
				    <td>Substandard facilities - Fasilitas substandard</td>
				    <td style="width:100px">
					    <input type="radio" id="substandard_safe_act" name="substandard_safe" value="1" />SA
					    <input type="radio" id="substandard_safe_cond" name="substandard_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="h2s_unsafe_act" name="h2s_unsafe" value="1" />UA
					    <input type="radio" id="h2s_unsafe_cond" name="h2s_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="h2s_risk_fatality" name="h2s_risk" value="1" />Serious
					    <input type="radio" id="h2s_risk_major" name="h2s_risk" value="1" />Moderate
					    <input type="radio" id="h2s_risk_minor" name="h2s_risk" value="1" />Minor
				    </td>
				    <td>H2S exposure - Paparan H2S</td>
				    <td style="width:100px">
					    <input type="radio" id="h2s_safe_act" name="h2s_safe" value="1" />SA
					    <input type="radio" id="h2s_safe_cond" name="h2s_safe" value="1" />SC
				    </td>
			    </tr>
                <tr>
				    <td class="" style="width:100px">
					    <input type="radio" id="workplace_health_unsafe_act" name="workplace_health_unsafe" value="1" />UA
					    <input type="radio" id="workplace_health_unsafe_cond" name="workplace_health_unsafe" value="1" />UC
				    </td>
				    <td class="" style="width:250px">
					    <input type="radio" id="workplace_health_risk_fatality" name="workplace_health_risk" value="1" />Serious
					    <input type="radio" id="workplace_health_risk_major" name="workplace_health_risk" value="1" />Moderate
					    <input type="radio" id="workplace_health_risk_minor" name="workplace_health_risk" value="1" />Minor
				    </td>
				    <td>Workplace health hazards - Potensi bahaya kesehatan<br />(Noise, dust, temperature, vibration, radiation, temperature, ventilation, illumination, slippery)</td>
				    <td style="width:100px">
					    <input type="radio" id="workplace_health_safe_act" name="workplace_health_safe" value="1" />SA
					    <input type="radio" id="workplace_health_safe_cond" name="workplace_health_safe" value="1" />SC
				    </td>
			    </tr>
	        </table>
	    </div>
        <br />
	    <div class="log-part3">
            <table class="w-border" style="width:980px">
		        <tr>
			        <td style="width:200px"><b>Date/Time</b></td>
			        <td>
                        @(Html.Telerik().DateTimePicker()
                            .Name("date_time")
                            .HtmlAttributes(new { id = "datetime_wrapper", style = "margin-left:5px" })
                            .Value(isEdit ? dl.date_time : DateTime.Now)
                        )
			        </td>
		        </tr>
                <tr>
			        <td style="width:200px"><b>Observer</b></td>
			        <td>
                        <input type="text" id="observer" name="observer" @(li.Exists(p => p.role == (int)StarEnergi.Config.role.ADMINSHEOBSERVATION) ? "" : "disabled") value="@(isEdit ? dl.observer : has.Find(p => p.username == HttpContext.Current.Session["username"].ToString()).alpha_name)" />
			        </td>
		        </tr>
                <tr>
			        <td style="width:200px"><b>Department</b></td>
			        <td>
                        <input type="text" id="department" name="department" value="@(isEdit ? dl.department : has.Find(p => p.username == HttpContext.Current.Session["username"].ToString()).dept_name)" disabled/>
			        </td>
		        </tr>
	        </table>
	    </div>
        <br />
	    <div class="log-part4">
            <table class="w-border" style="width:980px">
		        <tr>
			        <td>
                        <b>Location:</b><br />
                        <input type="text" id="location" name="location" value="@(isEdit ? dl.location : "")" />
			        </td>
		        </tr>
                <tr>
			        <td>
                        <b>Activity:</b><br />
                        <textarea id="activity" name="activity" cols="118" rows="6" style="resize:none">@(isEdit ? dl.activity : "")</textarea>
			        </td>
		        </tr>
                <tr>
			        <td>
                        <ul style="margin-left:0px;padding-left:0px;margin-bottom:0px">
                            <li style="display:inline"><b><label for="equip_choose"><input type="radio" value="0" id="equip_choose" name="equipment_employee"/>Equipment</label></b></li>
                            <li style="display:inline"><b><label for="employee_choose"><input type="radio" value="1" id="employee_choose" name="equipment_employee"/>Employee</label></b></li>
                        </ul>
                        <select id="equipment_id" style="display:none">
                            <option>Choose One</option>
                            @foreach (StarEnergi.Models.equipment eq in ViewBag.list_equipment as List<StarEnergi.Models.equipment>)
                            {
                                <option value="@eq.id">@eq.tag_num - @eq.nama</option>
                            }
                        </select>
                        <div id="employee_id" style="display:none">
                            <div id="selectEmployee" style="overflow-y:scroll;height:200px;float:left;width:450px">
                                @{has = has.OrderBy(p => p.alpha_name).ToList();}
                                @foreach (StarEnergi.Models.EmployeeEntity em in has)
                                {
                                    <input type="checkbox" name="employee" value="@em.id" onclick="check()" />@em.alpha_name<br />
                                }
                            </div>
                            <div id="selectedEmployee" style="overflow-y:auto;height:200px;float:left;width:450px">
                                <ul id="chosenList">
                                </ul>
                            </div>
                        </div>
			        </td>
		        </tr>
                <tr>
			        <td class="no-border-btm">
                        <input type="checkbox" id="safe_observed" name="safe_observed" value="1" @(isEdit ? dl.safe_observed == 1 ? "checked" : "" : "") onchange="changeInput(this)"/><b>Safe Act/Condition Observed.</b>
			        </td>
		        </tr>
                <tr>
			        <td>
                        <textarea name="safe_observeds" id="safe_observeds" cols="118" rows="6" style="resize:none" disabled>@(isEdit ? dl.safe_observeds : "")</textarea>
			        </td>
		        </tr>
                <tr>
			        <td class="no-border-top">
                        <input type="checkbox" id="action_encourages" name="action_encourages" value="1" @(isEdit ? dl.action_encourages == 1 ? "checked" : "" : "") onchange="changeInput(this)"/><b>Action taken to encourage continued SHE perfomances.</b>
			        </td>
		        </tr>
                <tr>
			        <td>
                        <textarea name="action_encourage" id="action_encourage" cols="118" rows="6" style="resize:none" disabled>@(isEdit ? dl.action_encourage : "")</textarea>
			        </td>
		        </tr>
                <tr>
			        <td class="no-border-btm">
                        <input type="checkbox" id="unsafe_observed" name="unsafe_observed" value="1" @(isEdit ? dl.unsafe_observed == 1 ? "checked" : "" : "") onchange="changeInput(this)"/><b>Unsafe Act/Conditions Observed.</b>
			        </td>
		        </tr>
                <tr>
			        <td>
                        <textarea name="unsafe_observeds" id="unsafe_observeds" cols="118" rows="6" style="resize:none" disabled>@(isEdit ? dl.unsafe_observeds : "")</textarea>
			        </td>
		        </tr>
                <tr>
			        <td class="no-border-btm no-border-top">
                        <input type="checkbox" id="immediate_corrective_act" name="immediate_corrective_act" value="1" @(isEdit ? dl.immediate_corrective_act == 1 ? "checked" : "" : "") onchange="changeInput(this)"/><b>Immediate corrective actions.</b>
			        </td>
		        </tr>
                <tr>
			        <td>
                        <textarea name="immediate_corrective_acts" id="immediate_corrective_acts" cols="118" rows="6" style="resize:none" disabled>@(isEdit ? dl.immediate_corrective_acts : "")</textarea>
			        </td>
		        </tr>
                <tr>
			        <td class="no-border-top">
                        <input type="checkbox" id="action_prevents" name="action_prevents" value="1" @(isEdit ? dl.action_prevents == 1 ? "checked" : "" : "") onchange="changeInput(this)"/><b>Action to prevent recurrences.</b>
			        </td>
		        </tr>
                <tr>
			        <td>
                        <textarea name="action_prevent" id="action_prevent" cols="118" rows="6" style="resize:none" disabled>@(isEdit ? dl.action_prevent : "")</textarea>
			        </td>
		        </tr>
	        </table>
	    </div>
    </div>
    <br />
</div>
<br/>
<div class="submit">
	<input name="Submit" value="Save" type="submit" onclick="save()"/>
    <input type="button" value="Cancel" onclick="back()"/>
    @if (isEdit && li.Exists(p => p.role == (int)StarEnergi.Config.role.ADMINMASTERSHE))
    {
        <button type="button" value="Print SHE Observation">
            @Html.ActionLink("Print SHE Observation", "printSheObservation", "SheObservation", new {id = id},  new { target = "_blank" })
        </button>
    }
    @(Html.Telerik().Upload()
        .Name("attachment")
        .Multiple(true)
        .Async(async => async
            .Save("attachment", "SheObservation", new { id = id })
            .AutoUpload(true)
            )
        .ClientEvents(events => events
            .OnSuccess("onSuccessAttachment").OnSelect("onSelectUpload"))
        .ShowFileList(false)
    )
</div>
<br/>
<b>Attachment(s):</b>
<div class="attachment" id="atch">

</div>
<br />
<script type="text/javascript">
    function onSuccessAttachment(data) {
        var dat = jQuery.parseJSON(data.response);
        var has = data.response.files.split(";;");
        $('#atch').empty();
        for (var f in has) {
            if (has[f] != "") {
                $('#atch').append('<a href="' + data.response.path + has[f] + '">' + has[f] + '</a><br/>');
            }
        }
    }

    function bindatch() {
        $.post("SheObservation/Atch", { id: '@id' }, function (data) {
            var has = data.files.split(";;");
            $('#atch').empty();
            for (var f in has) {
                if (has[f] != "") {
                    $('#atch').append('<a href="' + data.path + has[f] + '">' + has[f] + '</a><br/>');
                }
            }
        });
    }

    function loadWell() {
        if (isEdit != 'False') {
            if ('@dl' != null) {
                @if (dl != null) {
                <text>if ('@dl.accident_unsafe.ElementAt(0)' == '1') 
                    $('#accident_unsafe_act').attr('checked', true);
                if ('@dl.accident_unsafe.ElementAt(1)' == '1')
                    $('#accident_unsafe_cond').attr('checked', true);
                if ('@dl.accident_safe.ElementAt(0)' == '1')
                    $('#accident_safe_act').attr('checked', true);
                if ('@dl.accident_safe.ElementAt(1)' == '1')
                    $('#accident_safe_cond').attr('checked', true);
                if ('@dl.accident_risk.ElementAt(0)' == '1') 
                    $('#accident_risk_fatality').attr('checked', true);
                if ('@dl.accident_risk.ElementAt(1)' == '1')
                    $('#accident_risk_major').attr('checked', true);
                if ('@dl.accident_risk.ElementAt(2)' == '1')
                    $('#accident_risk_minor').attr('checked', true);</text>
                
                <text>if ('@dl.fire_unsafe.ElementAt(0)' == '1')
					$('#fire_unsafe_act').attr('checked', true);
				if ('@dl.fire_unsafe.ElementAt(1)' == '1')
					$('#fire_unsafe_cond').attr('checked', true);
				if ('@dl.fire_safe.ElementAt(0)' == '1')
					$('#fire_safe_act').attr('checked', true);
				if ('@dl.fire_safe.ElementAt(1)' == '1')
					$('#fire_safe_cond').attr('checked', true);
				if ('@dl.fire_risk.ElementAt(0)' == '1')
					$('#fire_risk_fatality').attr('checked', true);
				if ('@dl.fire_risk.ElementAt(1)' == '1')
					$('#fire_risk_major').attr('checked', true);
				if ('@dl.fire_risk.ElementAt(2)' == '1')
					$('#fire_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.prevention_unsafe.ElementAt(0)' == '1')
					$('#prevention_unsafe_act').attr('checked', true);
				if ('@dl.prevention_unsafe.ElementAt(1)' == '1')
					$('#prevention_unsafe_cond').attr('checked', true);
				if ('@dl.prevention_safe.ElementAt(0)' == '1')
					$('#prevention_safe_act').attr('checked', true);
				if ('@dl.prevention_safe.ElementAt(1)' == '1')
					$('#prevention_safe_cond').attr('checked', true);
				if ('@dl.prevention_risk.ElementAt(0)' == '1')
					$('#prevention_risk_fatality').attr('checked', true);
				if ('@dl.prevention_risk.ElementAt(1)' == '1')
					$('#prevention_risk_major').attr('checked', true);
				if ('@dl.prevention_risk.ElementAt(2)' == '1')
					$('#prevention_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.supervisor_unsafe.ElementAt(0)' == '1')
					$('#supervisor_unsafe_act').attr('checked', true);
				if ('@dl.supervisor_unsafe.ElementAt(1)' == '1')
					$('#supervisor_unsafe_cond').attr('checked', true);
				if ('@dl.supervisor_safe.ElementAt(0)' == '1')
					$('#supervisor_safe_act').attr('checked', true);
				if ('@dl.supervisor_safe.ElementAt(1)' == '1')
					$('#supervisor_safe_cond').attr('checked', true);
				if ('@dl.supervisor_risk.ElementAt(0)' == '1')
					$('#supervisor_risk_fatality').attr('checked', true);
				if ('@dl.supervisor_risk.ElementAt(1)' == '1')
					$('#supervisor_risk_major').attr('checked', true);
				if ('@dl.supervisor_risk.ElementAt(2)' == '1')
					$('#supervisor_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.fit_work_unsafe.ElementAt(0)' == '1')
					$('#fit_work_unsafe_act').attr('checked', true);
				if ('@dl.fit_work_unsafe.ElementAt(1)' == '1')
					$('#fit_work_unsafe_cond').attr('checked', true);
				if ('@dl.fit_work_safe.ElementAt(0)' == '1')
					$('#fit_work_safe_act').attr('checked', true);
				if ('@dl.fit_work_safe.ElementAt(1)' == '1')
					$('#fit_work_safe_cond').attr('checked', true);
				if ('@dl.fit_work_risk.ElementAt(0)' == '1')
					$('#fit_work_risk_fatality').attr('checked', true);
				if ('@dl.fit_work_risk.ElementAt(1)' == '1')
					$('#fit_work_risk_major').attr('checked', true);
				if ('@dl.fit_work_risk.ElementAt(2)' == '1')
					$('#fit_work_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.psychological_unsafe.ElementAt(0)' == '1')
					$('#psychological_unsafe_act').attr('checked', true);
				if ('@dl.psychological_unsafe.ElementAt(1)' == '1')
					$('#psychological_unsafe_cond').attr('checked', true);
				if ('@dl.psychological_safe.ElementAt(0)' == '1')
					$('#psychological_safe_act').attr('checked', true);
				if ('@dl.psychological_safe.ElementAt(1)' == '1')
					$('#psychological_safe_cond').attr('checked', true);
				if ('@dl.psychological_risk.ElementAt(0)' == '1')
					$('#psychological_risk_fatality').attr('checked', true);
				if ('@dl.psychological_risk.ElementAt(1)' == '1')
					$('#psychological_risk_major').attr('checked', true);
				if ('@dl.psychological_risk.ElementAt(2)' == '1')
					$('#psychological_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.posture_unsafe.ElementAt(0)' == '1')
					$('#posture_unsafe_act').attr('checked', true);
				if ('@dl.posture_unsafe.ElementAt(1)' == '1')
					$('#posture_unsafe_cond').attr('checked', true);
				if ('@dl.posture_safe.ElementAt(0)' == '1')
					$('#posture_safe_act').attr('checked', true);
				if ('@dl.posture_safe.ElementAt(1)' == '1')
					$('#posture_safe_cond').attr('checked', true);
				if ('@dl.posture_risk.ElementAt(0)' == '1')
					$('#posture_risk_fatality').attr('checked', true);
				if ('@dl.posture_risk.ElementAt(1)' == '1')
					$('#posture_risk_major').attr('checked', true);
				if ('@dl.posture_risk.ElementAt(2)' == '1')
					$('#posture_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.substance_unsafe.ElementAt(0)' == '1')
					$('#substance_unsafe_act').attr('checked', true);
				if ('@dl.substance_unsafe.ElementAt(1)' == '1')
					$('#substance_unsafe_cond').attr('checked', true);
				if ('@dl.substance_safe.ElementAt(0)' == '1')
					$('#substance_safe_act').attr('checked', true);
				if ('@dl.substance_safe.ElementAt(1)' == '1')
					$('#substance_safe_cond').attr('checked', true);
				if ('@dl.substance_risk.ElementAt(0)' == '1')
					$('#substance_risk_fatality').attr('checked', true);
				if ('@dl.substance_risk.ElementAt(1)' == '1')
					$('#substance_risk_major').attr('checked', true);
				if ('@dl.substance_risk.ElementAt(2)' == '1')
					$('#substance_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.hygiene_unsafe.ElementAt(0)' == '1')
					$('#hygiene_unsafe_act').attr('checked', true);
				if ('@dl.hygiene_unsafe.ElementAt(1)' == '1')
					$('#hygiene_unsafe_cond').attr('checked', true);
				if ('@dl.hygiene_safe.ElementAt(0)' == '1')
					$('#hygiene_safe_act').attr('checked', true);
				if ('@dl.hygiene_safe.ElementAt(1)' == '1')
					$('#hygiene_safe_cond').attr('checked', true);
				if ('@dl.hygiene_risk.ElementAt(0)' == '1')
					$('#hygiene_risk_fatality').attr('checked', true);
				if ('@dl.hygiene_risk.ElementAt(1)' == '1')
					$('#hygiene_risk_major').attr('checked', true);
				if ('@dl.hygiene_risk.ElementAt(2)' == '1')
					$('#hygiene_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.house_unsafe.ElementAt(0)' == '1')
					$('#house_unsafe_act').attr('checked', true);
				if ('@dl.house_unsafe.ElementAt(1)' == '1')
					$('#house_unsafe_cond').attr('checked', true);
				if ('@dl.house_safe.ElementAt(0)' == '1')
					$('#house_safe_act').attr('checked', true);
				if ('@dl.house_safe.ElementAt(1)' == '1')
					$('#house_safe_cond').attr('checked', true);
				if ('@dl.house_risk.ElementAt(0)' == '1')
					$('#house_risk_fatality').attr('checked', true);
				if ('@dl.house_risk.ElementAt(1)' == '1')
					$('#house_risk_major').attr('checked', true);
				if ('@dl.house_risk.ElementAt(2)' == '1')
					$('#house_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.standard_unsafe.ElementAt(0)' == '1')
					$('#standard_unsafe_act').attr('checked', true);
				if ('@dl.standard_unsafe.ElementAt(1)' == '1')
					$('#standard_unsafe_cond').attr('checked', true);
				if ('@dl.standard_safe.ElementAt(0)' == '1')
					$('#standard_safe_act').attr('checked', true);
				if ('@dl.standard_safe.ElementAt(1)' == '1')
					$('#standard_safe_cond').attr('checked', true);
				if ('@dl.standard_risk.ElementAt(0)' == '1')
					$('#standard_risk_fatality').attr('checked', true);
				if ('@dl.standard_risk.ElementAt(1)' == '1')
					$('#standard_risk_major').attr('checked', true);
				if ('@dl.standard_risk.ElementAt(2)' == '1')
					$('#standard_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.spill_unsafe.ElementAt(0)' == '1')
					$('#spill_unsafe_act').attr('checked', true);
				if ('@dl.spill_unsafe.ElementAt(1)' == '1')
					$('#spill_unsafe_cond').attr('checked', true);
				if ('@dl.spill_safe.ElementAt(0)' == '1')
					$('#spill_safe_act').attr('checked', true);
				if ('@dl.spill_safe.ElementAt(1)' == '1')
					$('#spill_safe_cond').attr('checked', true);
				if ('@dl.spill_risk.ElementAt(0)' == '1')
					$('#spill_risk_fatality').attr('checked', true);
				if ('@dl.spill_risk.ElementAt(1)' == '1')
					$('#spill_risk_major').attr('checked', true);
				if ('@dl.spill_risk.ElementAt(2)' == '1')
					$('#spill_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.waste_energy_unsafe.ElementAt(0)' == '1')
					$('#waste_energy_unsafe_act').attr('checked', true);
				if ('@dl.waste_energy_unsafe.ElementAt(1)' == '1')
					$('#waste_energy_unsafe_cond').attr('checked', true);
				if ('@dl.waste_energy_safe.ElementAt(0)' == '1')
					$('#waste_energy_safe_act').attr('checked', true);
				if ('@dl.waste_energy_safe.ElementAt(1)' == '1')
					$('#waste_energy_safe_cond').attr('checked', true);
				if ('@dl.waste_energy_risk.ElementAt(0)' == '1')
					$('#waste_energy_risk_fatality').attr('checked', true);
				if ('@dl.waste_energy_risk.ElementAt(1)' == '1')
					$('#waste_energy_risk_major').attr('checked', true);
				if ('@dl.waste_energy_risk.ElementAt(2)' == '1')
					$('#waste_energy_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.containment_unsafe.ElementAt(0)' == '1')
					$('#containment_unsafe_act').attr('checked', true);
				if ('@dl.containment_unsafe.ElementAt(1)' == '1')
					$('#containment_unsafe_cond').attr('checked', true);
				if ('@dl.containment_safe.ElementAt(0)' == '1')
					$('#containment_safe_act').attr('checked', true);
				if ('@dl.containment_safe.ElementAt(1)' == '1')
					$('#containment_safe_cond').attr('checked', true);
				if ('@dl.containment_risk.ElementAt(0)' == '1')
					$('#containment_risk_fatality').attr('checked', true);
				if ('@dl.containment_risk.ElementAt(1)' == '1')
					$('#containment_risk_major').attr('checked', true);
				if ('@dl.containment_risk.ElementAt(2)' == '1')
					$('#containment_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.absorbent_unsafe.ElementAt(0)' == '1')
					$('#absorbent_unsafe_act').attr('checked', true);
				if ('@dl.absorbent_unsafe.ElementAt(1)' == '1')
					$('#absorbent_unsafe_cond').attr('checked', true);
				if ('@dl.absorbent_safe.ElementAt(0)' == '1')
					$('#absorbent_safe_act').attr('checked', true);
				if ('@dl.absorbent_safe.ElementAt(1)' == '1')
					$('#absorbent_safe_cond').attr('checked', true);
				if ('@dl.absorbent_risk.ElementAt(0)' == '1')
					$('#absorbent_risk_fatality').attr('checked', true);
				if ('@dl.absorbent_risk.ElementAt(1)' == '1')
					$('#absorbent_risk_major').attr('checked', true);
				if ('@dl.absorbent_risk.ElementAt(2)' == '1')
					$('#absorbent_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.hira_unsafe.ElementAt(0)' == '1')
					$('#hira_unsafe_act').attr('checked', true);
				if ('@dl.hira_unsafe.ElementAt(1)' == '1')
					$('#hira_unsafe_cond').attr('checked', true);
				if ('@dl.hira_safe.ElementAt(0)' == '1')
					$('#hira_safe_act').attr('checked', true);
				if ('@dl.hira_safe.ElementAt(1)' == '1')
					$('#hira_safe_cond').attr('checked', true);
				if ('@dl.hira_risk.ElementAt(0)' == '1')
					$('#hira_risk_fatality').attr('checked', true);
				if ('@dl.hira_risk.ElementAt(1)' == '1')
					$('#hira_risk_major').attr('checked', true);
				if ('@dl.hira_risk.ElementAt(2)' == '1')
					$('#hira_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.ptw_unsafe.ElementAt(0)' == '1')
					$('#ptw_unsafe_act').attr('checked', true);
				if ('@dl.ptw_unsafe.ElementAt(1)' == '1')
					$('#ptw_unsafe_cond').attr('checked', true);
				if ('@dl.ptw_safe.ElementAt(0)' == '1')
					$('#ptw_safe_act').attr('checked', true);
				if ('@dl.ptw_safe.ElementAt(1)' == '1')
					$('#ptw_safe_cond').attr('checked', true);
				if ('@dl.ptw_risk.ElementAt(0)' == '1')
					$('#ptw_risk_fatality').attr('checked', true);
				if ('@dl.ptw_risk.ElementAt(1)' == '1')
					$('#ptw_risk_major').attr('checked', true);
				if ('@dl.ptw_risk.ElementAt(2)' == '1')
					$('#ptw_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.sop_unsafe.ElementAt(0)' == '1')
					$('#sop_unsafe_act').attr('checked', true);
				if ('@dl.sop_unsafe.ElementAt(1)' == '1')
					$('#sop_unsafe_cond').attr('checked', true);
				if ('@dl.sop_safe.ElementAt(0)' == '1')
					$('#sop_safe_act').attr('checked', true);
				if ('@dl.sop_safe.ElementAt(1)' == '1')
					$('#sop_safe_cond').attr('checked', true);
				if ('@dl.sop_risk.ElementAt(0)' == '1')
					$('#sop_risk_fatality').attr('checked', true);
				if ('@dl.sop_risk.ElementAt(1)' == '1')
					$('#sop_risk_major').attr('checked', true);
				if ('@dl.sop_risk.ElementAt(2)' == '1')
					$('#sop_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.msds_unsafe.ElementAt(0)' == '1')
					$('#msds_unsafe_act').attr('checked', true);
				if ('@dl.msds_unsafe.ElementAt(1)' == '1')
					$('#msds_unsafe_cond').attr('checked', true);
				if ('@dl.msds_safe.ElementAt(0)' == '1')
					$('#msds_safe_act').attr('checked', true);
				if ('@dl.msds_safe.ElementAt(1)' == '1')
					$('#msds_safe_cond').attr('checked', true);
				if ('@dl.msds_risk.ElementAt(0)' == '1')
					$('#msds_risk_fatality').attr('checked', true);
				if ('@dl.msds_risk.ElementAt(1)' == '1')
					$('#msds_risk_major').attr('checked', true);
				if ('@dl.msds_risk.ElementAt(2)' == '1')
					$('#msds_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.emergency_unsafe.ElementAt(0)' == '1')
					$('#emergency_unsafe_act').attr('checked', true);
				if ('@dl.emergency_unsafe.ElementAt(1)' == '1')
					$('#emergency_unsafe_cond').attr('checked', true);
				if ('@dl.emergency_safe.ElementAt(0)' == '1')
					$('#emergency_safe_act').attr('checked', true);
				if ('@dl.emergency_safe.ElementAt(1)' == '1')
					$('#emergency_safe_cond').attr('checked', true);
				if ('@dl.emergency_risk.ElementAt(0)' == '1')
					$('#emergency_risk_fatality').attr('checked', true);
				if ('@dl.emergency_risk.ElementAt(1)' == '1')
					$('#emergency_risk_major').attr('checked', true);
				if ('@dl.emergency_risk.ElementAt(2)' == '1')
					$('#emergency_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.certificates_unsafe.ElementAt(0)' == '1')
					$('#certificates_unsafe_act').attr('checked', true);
				if ('@dl.certificates_unsafe.ElementAt(1)' == '1')
					$('#certificates_unsafe_cond').attr('checked', true);
				if ('@dl.certificates_safe.ElementAt(0)' == '1')
					$('#certificates_safe_act').attr('checked', true);
				if ('@dl.certificates_safe.ElementAt(1)' == '1')
					$('#certificates_safe_cond').attr('checked', true);
				if ('@dl.certificates_risk.ElementAt(0)' == '1')
					$('#certificates_risk_fatality').attr('checked', true);
				if ('@dl.certificates_risk.ElementAt(1)' == '1')
					$('#certificates_risk_major').attr('checked', true);
				if ('@dl.certificates_risk.ElementAt(2)' == '1')
				    $('#certificates_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.ppe_unsafe.ElementAt(0)' == '1') {
				        $('#ppe_unsafe_act').attr('checked', true);
				        $('#ppe_equipment').css('display', 'inline-block');
				        $('#ppe_equipment').val('@dl.type_equipment');
				    }
                if ('@dl.ppe_unsafe.ElementAt(1)' == '1') {
                    $('#ppe_unsafe_cond').attr('checked', true);
                    $('#ppe_equipment').css('display', 'inline-block');
                    $('#ppe_equipment').val('@dl.type_equipment');
                }
				if ('@dl.ppe_safe.ElementAt(0)' == '1') {
				    $('#ppe_safe_act').attr('checked', true);
				    $('#ppe_equipment').css('display', 'inline-block');
				    $('#ppe_equipment').val('@dl.type_equipment');
                }
				if ('@dl.ppe_safe.ElementAt(1)' == '1') {
				    $('#ppe_safe_cond').attr('checked', true);
				    $('#ppe_equipment').css('display', 'inline-block');
				    $('#ppe_equipment').val('@dl.type_equipment');
                }
				if ('@dl.ppe_risk.ElementAt(0)' == '1')
					$('#ppe_risk_fatality').attr('checked', true);
				if ('@dl.ppe_risk.ElementAt(1)' == '1')
					$('#ppe_risk_major').attr('checked', true);
				if ('@dl.ppe_risk.ElementAt(2)' == '1')
					$('#ppe_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.hand_unsafe.ElementAt(0)' == '1')
					$('#hand_unsafe_act').attr('checked', true);
				if ('@dl.hand_unsafe.ElementAt(1)' == '1')
					$('#hand_unsafe_cond').attr('checked', true);
				if ('@dl.hand_safe.ElementAt(0)' == '1')
					$('#hand_safe_act').attr('checked', true);
				if ('@dl.hand_safe.ElementAt(1)' == '1')
					$('#hand_safe_cond').attr('checked', true);
				if ('@dl.hand_risk.ElementAt(0)' == '1')
					$('#hand_risk_fatality').attr('checked', true);
				if ('@dl.hand_risk.ElementAt(1)' == '1')
					$('#hand_risk_major').attr('checked', true);
				if ('@dl.hand_risk.ElementAt(2)' == '1')
					$('#hand_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.mechanical_unsafe.ElementAt(0)' == '1')
					$('#mechanical_unsafe_act').attr('checked', true);
				if ('@dl.mechanical_unsafe.ElementAt(1)' == '1')
					$('#mechanical_unsafe_cond').attr('checked', true);
				if ('@dl.mechanical_safe.ElementAt(0)' == '1')
					$('#mechanical_safe_act').attr('checked', true);
				if ('@dl.mechanical_safe.ElementAt(1)' == '1')
					$('#mechanical_safe_cond').attr('checked', true);
				if ('@dl.mechanical_risk.ElementAt(0)' == '1')
					$('#mechanical_risk_fatality').attr('checked', true);
				if ('@dl.mechanical_risk.ElementAt(1)' == '1')
					$('#mechanical_risk_major').attr('checked', true);
				if ('@dl.mechanical_risk.ElementAt(2)' == '1')
					$('#mechanical_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.electrical_unsafe.ElementAt(0)' == '1')
					$('#electrical_unsafe_act').attr('checked', true);
				if ('@dl.electrical_unsafe.ElementAt(1)' == '1')
					$('#electrical_unsafe_cond').attr('checked', true);
				if ('@dl.electrical_safe.ElementAt(0)' == '1')
					$('#electrical_safe_act').attr('checked', true);
				if ('@dl.electrical_safe.ElementAt(1)' == '1')
					$('#electrical_safe_cond').attr('checked', true);
				if ('@dl.electrical_risk.ElementAt(0)' == '1')
					$('#electrical_risk_fatality').attr('checked', true);
				if ('@dl.electrical_risk.ElementAt(1)' == '1')
					$('#electrical_risk_major').attr('checked', true);
				if ('@dl.electrical_risk.ElementAt(2)' == '1')
					$('#electrical_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.vehicular_unsafe.ElementAt(0)' == '1')
					$('#vehicular_unsafe_act').attr('checked', true);
				if ('@dl.vehicular_unsafe.ElementAt(1)' == '1')
					$('#vehicular_unsafe_cond').attr('checked', true);
				if ('@dl.vehicular_safe.ElementAt(0)' == '1')
					$('#vehicular_safe_act').attr('checked', true);
				if ('@dl.vehicular_safe.ElementAt(1)' == '1')
					$('#vehicular_safe_cond').attr('checked', true);
				if ('@dl.vehicular_risk.ElementAt(0)' == '1')
					$('#vehicular_risk_fatality').attr('checked', true);
				if ('@dl.vehicular_risk.ElementAt(1)' == '1')
					$('#vehicular_risk_major').attr('checked', true);
				if ('@dl.vehicular_risk.ElementAt(2)' == '1')
					$('#vehicular_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.substandard_unsafe.ElementAt(0)' == '1')
					$('#substandard_unsafe_act').attr('checked', true);
				if ('@dl.substandard_unsafe.ElementAt(1)' == '1')
					$('#substandard_unsafe_cond').attr('checked', true);
				if ('@dl.substandard_safe.ElementAt(0)' == '1')
					$('#substandard_safe_act').attr('checked', true);
				if ('@dl.substandard_safe.ElementAt(1)' == '1')
					$('#substandard_safe_cond').attr('checked', true);
				if ('@dl.substandard_risk.ElementAt(0)' == '1')
					$('#substandard_risk_fatality').attr('checked', true);
				if ('@dl.substandard_risk.ElementAt(1)' == '1')
					$('#substandard_risk_major').attr('checked', true);
				if ('@dl.substandard_risk.ElementAt(2)' == '1')
					$('#substandard_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.h2s_unsafe.ElementAt(0)' == '1')
					$('#h2s_unsafe_act').attr('checked', true);
				if ('@dl.h2s_unsafe.ElementAt(1)' == '1')
					$('#h2s_unsafe_cond').attr('checked', true);
				if ('@dl.h2s_safe.ElementAt(0)' == '1')
					$('#h2s_safe_act').attr('checked', true);
				if ('@dl.h2s_safe.ElementAt(1)' == '1')
					$('#h2s_safe_cond').attr('checked', true);
				if ('@dl.h2s_risk.ElementAt(0)' == '1')
					$('#h2s_risk_fatality').attr('checked', true);
				if ('@dl.h2s_risk.ElementAt(1)' == '1')
					$('#h2s_risk_major').attr('checked', true);
				if ('@dl.h2s_risk.ElementAt(2)' == '1')
					$('#h2s_risk_minor').attr('checked', true);</text>

                <text>if ('@dl.workplace_health_unsafe.ElementAt(0)' == '1')
					$('#workplace_health_unsafe_act').attr('checked', true);
				if ('@dl.workplace_health_unsafe.ElementAt(1)' == '1')
					$('#workplace_health_unsafe_cond').attr('checked', true);
				if ('@dl.workplace_health_safe.ElementAt(0)' == '1')
					$('#workplace_health_safe_act').attr('checked', true);
				if ('@dl.workplace_health_safe.ElementAt(1)' == '1')
					$('#workplace_health_safe_cond').attr('checked', true);
				if ('@dl.workplace_health_risk.ElementAt(0)' == '1')
					$('#workplace_health_risk_fatality').attr('checked', true);
				if ('@dl.workplace_health_risk.ElementAt(1)' == '1')
					$('#workplace_health_risk_major').attr('checked', true);
				if ('@dl.workplace_health_risk.ElementAt(2)' == '1')
					$('#workplace_health_risk_minor').attr('checked', true);</text>


                <text>
                if ('@dl.action_encourages' == '1') {
                    $('#action_encourages').attr('checked', true);
                    $('#action_encourages').trigger('change');
                } else {
                    $('#action_encourages').attr('checked', false);
                    $('#action_encourages').trigger('change');
                }
                if ('@dl.safe_observed' == '1') {
                    $('#safe_observed').attr('checked', true);
                    $('#safe_observed').trigger('change');
                } else {
                    $('#safe_observed').attr('checked', false);
                    $('#safe_observed').trigger('change');
                }
                if ('@dl.unsafe_observed' == '1') {
                    $('#unsafe_observed').attr('checked', true);
                    $('#unsafe_observed').trigger('change');
                } else {
                    $('#unsafe_observed').attr('checked', false);
                    $('#unsafe_observed').trigger('change');
                }
                if ('@dl.immediate_corrective_act' == '1') {
                    $('#immediate_corrective_act').attr('checked', true);
                    $('#immediate_corrective_act').trigger('change');
                } else {
                    $('#immediate_corrective_act').attr('checked', false);
                    $('#immediate_corrective_act').trigger('change');
                }
                if ('@dl.action_prevents' == '1') {
                    $('#action_prevents').attr('checked', true);
                    $('#action_prevents').trigger('change');
                } else {
                    $('#action_prevents').attr('checked', false);
                    $('#action_prevents').trigger('change');
                }</text>
                
                    
                <text>
                if ('@dl.equipment_employee' == '0') {
                    $('#equip_choose').attr('checked', true);
                    $('#equip_choose').trigger('click');
                    $('#equipment_id').val('@dl.equipment_id');
                } else if ('@dl.equipment_employee' == '1') {
                    $('#employee_choose').attr('checked', true);
                    $('#employee_choose').trigger('click');
                    $('#employee_id').val('@dl.employee_id');
                }</text>
                }
            }
        }
    }

    $(document).ready(function () {
        loadWell();
    });

    function back() {
        window.location = "/SheObservation";
        $('#contentEventLog').load('SheObservation/Index');
    }

    var isEdit = '@isEdit';
    var isSave = false;
    function setIframeHeight(sel, h) {
        $(sel).height(h);
    }

    function changeInput(radio) {
        if (radio.id == "action_encourages") {
            if (radio.checked) {
                var td = document.getElementById("action_encourage");
                td.disabled = "";
            } else {
                var td = document.getElementById("action_encourage");
                td.disabled = "disabled";
                td.innerHTML = "";
            }
        } else if (radio.id == "action_prevents") {
            if (radio.checked) {
                var td = document.getElementById("action_prevent");
                td.disabled = "";
            } else {
                var td = document.getElementById("action_prevent");
                td.disabled = "disabled";
                td.innerHTML = "";
            }
        } else if (radio.id == "safe_observed") {
            if (radio.checked) {
                var td = document.getElementById("safe_observeds");
                td.disabled = "";
            } else {
                var td = document.getElementById("safe_observeds");
                td.disabled = "disabled";
                td.innerHTML = "";
            }
        } else if (radio.id == "unsafe_observed") {
            if (radio.checked) {
                var td = document.getElementById("unsafe_observeds");
                td.disabled = "";
            } else {
                var td = document.getElementById("unsafe_observeds");
                td.disabled = "disabled";
                td.innerHTML = "";
            }
        } else if (radio.id == "immediate_corrective_act") {
            if (radio.checked) {
                var td = document.getElementById("immediate_corrective_acts");
                td.disabled = "";
            } else {
                var td = document.getElementById("immediate_corrective_acts");
                td.disabled = "disabled";
                td.innerHTML = "";
            }
        }
    }

    function show_equipment() {
        $('#ppe_equipment').css('display', 'inline-block');
    }

    function save() {
        isSave = true;

        if(!($('#she_obs').is(':checked'))&&!($('#she_ins').is(':checked'))){
            alert('Field Category is required');
            return;
        }

        var equipment_employee = "";
        var checkBoxes = $("input[name='equipment_employee']");
        $.each(checkBoxes, function () {
            if ($(this).attr('checked')) {
                equipment_employee = $(this).val();
            }
        });

        var employee_id = "";
        var checkBoxes = $("input[name='employee']");
        $.each(checkBoxes, function () {
            if ($(this).attr('checked')) {
                employee_id += $(this).val()+",";
            }
        });
        if (validate()) {
            var values = {
                she_obs: $('#she_obs').is(":checked") == true ? 1 : 0,
                she_ins: $('#she_ins').is(":checked") == true ? 1 : 0,
                accident_unsafe: '' + ($('#accident_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#accident_unsafe_cond').is(":checked") == true ? '1' : '0'),
                accident_safe: '' + ($('#accident_safe_act').is(":checked") == true ? '1' : '0') + ($('#accident_safe_cond').is(":checked") == true ? '1' : '0'),
                accident_risk: '' + ($('#accident_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#accident_risk_major').is(":checked") == true ? '1' : '0') + ($('#accident_risk_minor').is(":checked") == true ? '1' : '0'),
                fire_unsafe: '' + ($('#fire_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#fire_unsafe_cond').is(":checked") == true ? '1' : '0'),
                fire_safe: '' + ($('#fire_safe_act').is(":checked") == true ? '1' : '0') + ($('#fire_safe_cond').is(":checked") == true ? '1' : '0'),
                fire_risk: '' + ($('#fire_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#fire_risk_major').is(":checked") == true ? '1' : '0') + ($('#fire_risk_minor').is(":checked") == true ? '1' : '0'),
                prevention_unsafe: '' + ($('#prevention_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#prevention_unsafe_cond').is(":checked") == true ? '1' : '0'),
                prevention_safe: '' + ($('#prevention_safe_act').is(":checked") == true ? '1' : '0') + ($('#prevention_safe_cond').is(":checked") == true ? '1' : '0'),
                prevention_risk: '' + ($('#prevention_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#prevention_risk_major').is(":checked") == true ? '1' : '0') + ($('#prevention_risk_minor').is(":checked") == true ? '1' : '0'),
                supervisor_unsafe: '' + ($('#supervisor_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#supervisor_unsafe_cond').is(":checked") == true ? '1' : '0'),
                supervisor_safe: '' + ($('#supervisor_safe_act').is(":checked") == true ? '1' : '0') + ($('#supervisor_safe_cond').is(":checked") == true ? '1' : '0'),
                supervisor_risk: '' + ($('#supervisor_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#supervisor_risk_major').is(":checked") == true ? '1' : '0') + ($('#supervisor_risk_minor').is(":checked") == true ? '1' : '0'),
                fit_work_unsafe: '' + ($('#fit_work_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#fit_work_unsafe_cond').is(":checked") == true ? '1' : '0'),
                fit_work_safe: '' + ($('#fit_work_safe_act').is(":checked") == true ? '1' : '0') + ($('#fit_work_safe_cond').is(":checked") == true ? '1' : '0'),
                fit_work_risk: '' + ($('#fit_work_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#fit_work_risk_major').is(":checked") == true ? '1' : '0') + ($('#fit_work_risk_minor').is(":checked") == true ? '1' : '0'),
                psychological_unsafe: '' + ($('#psychological_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#psychological_unsafe_cond').is(":checked") == true ? '1' : '0'),
                psychological_safe: '' + ($('#psychological_safe_act').is(":checked") == true ? '1' : '0') + ($('#psychological_safe_cond').is(":checked") == true ? '1' : '0'),
                psychological_risk: '' + ($('#psychological_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#psychological_risk_major').is(":checked") == true ? '1' : '0') + ($('#psychological_risk_minor').is(":checked") == true ? '1' : '0'),
                posture_unsafe: '' + ($('#posture_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#posture_unsafe_cond').is(":checked") == true ? '1' : '0'),
                posture_safe: '' + ($('#posture_safe_act').is(":checked") == true ? '1' : '0') + ($('#posture_safe_cond').is(":checked") == true ? '1' : '0'),
                posture_risk: '' + ($('#posture_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#posture_risk_major').is(":checked") == true ? '1' : '0') + ($('#posture_risk_minor').is(":checked") == true ? '1' : '0'),
                substance_unsafe: '' + ($('#substance_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#substance_unsafe_cond').is(":checked") == true ? '1' : '0'),
                substance_safe: '' + ($('#substance_safe_act').is(":checked") == true ? '1' : '0') + ($('#substance_safe_cond').is(":checked") == true ? '1' : '0'),
                substance_risk: '' + ($('#substance_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#substance_risk_major').is(":checked") == true ? '1' : '0') + ($('#substance_risk_minor').is(":checked") == true ? '1' : '0'),
                hygiene_unsafe: '' + ($('#hygiene_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#hygiene_unsafe_cond').is(":checked") == true ? '1' : '0'),
                hygiene_safe: '' + ($('#hygiene_safe_act').is(":checked") == true ? '1' : '0') + ($('#hygiene_safe_cond').is(":checked") == true ? '1' : '0'),
                hygiene_risk: '' + ($('#hygiene_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#hygiene_risk_major').is(":checked") == true ? '1' : '0') + ($('#hygiene_risk_minor').is(":checked") == true ? '1' : '0'),
                house_unsafe: '' + ($('#house_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#house_unsafe_cond').is(":checked") == true ? '1' : '0'),
                house_safe: '' + ($('#house_safe_act').is(":checked") == true ? '1' : '0') + ($('#house_safe_cond').is(":checked") == true ? '1' : '0'),
                house_risk: '' + ($('#house_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#house_risk_major').is(":checked") == true ? '1' : '0') + ($('#house_risk_minor').is(":checked") == true ? '1' : '0'),
                standard_unsafe: '' + ($('#standard_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#standard_unsafe_cond').is(":checked") == true ? '1' : '0'),
                standard_safe: '' + ($('#standard_safe_act').is(":checked") == true ? '1' : '0') + ($('#standard_safe_cond').is(":checked") == true ? '1' : '0'),
                standard_risk: '' + ($('#standard_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#standard_risk_major').is(":checked") == true ? '1' : '0') + ($('#standard_risk_minor').is(":checked") == true ? '1' : '0'),
                spill_unsafe: '' + ($('#spill_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#spill_unsafe_cond').is(":checked") == true ? '1' : '0'),
                spill_safe: '' + ($('#spill_safe_act').is(":checked") == true ? '1' : '0') + ($('#spill_safe_cond').is(":checked") == true ? '1' : '0'),
                spill_risk: '' + ($('#spill_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#spill_risk_major').is(":checked") == true ? '1' : '0') + ($('#spill_risk_minor').is(":checked") == true ? '1' : '0'),
                waste_energy_unsafe: '' + ($('#waste_energy_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#waste_energy_unsafe_cond').is(":checked") == true ? '1' : '0'),
                waste_energy_safe: '' + ($('#waste_energy_safe_act').is(":checked") == true ? '1' : '0') + ($('#waste_energy_safe_cond').is(":checked") == true ? '1' : '0'),
                waste_energy_risk: '' + ($('#waste_energy_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#waste_energy_risk_major').is(":checked") == true ? '1' : '0') + ($('#waste_energy_risk_minor').is(":checked") == true ? '1' : '0'),
                containment_unsafe: '' + ($('#containment_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#containment_unsafe_cond').is(":checked") == true ? '1' : '0'),
                containment_safe: '' + ($('#containment_safe_act').is(":checked") == true ? '1' : '0') + ($('#containment_safe_cond').is(":checked") == true ? '1' : '0'),
                containment_risk: '' + ($('#containment_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#containment_risk_major').is(":checked") == true ? '1' : '0') + ($('#containment_risk_minor').is(":checked") == true ? '1' : '0'),
                absorbent_unsafe: '' + ($('#absorbent_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#absorbent_unsafe_cond').is(":checked") == true ? '1' : '0'),
                absorbent_safe: '' + ($('#absorbent_safe_act').is(":checked") == true ? '1' : '0') + ($('#absorbent_safe_cond').is(":checked") == true ? '1' : '0'),
                absorbent_risk: '' + ($('#absorbent_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#absorbent_risk_major').is(":checked") == true ? '1' : '0') + ($('#absorbent_risk_minor').is(":checked") == true ? '1' : '0'),
                hira_unsafe: '' + ($('#hira_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#hira_unsafe_cond').is(":checked") == true ? '1' : '0'),
                hira_safe: '' + ($('#hira_safe_act').is(":checked") == true ? '1' : '0') + ($('#hira_safe_cond').is(":checked") == true ? '1' : '0'),
                hira_risk: '' + ($('#hira_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#hira_risk_major').is(":checked") == true ? '1' : '0') + ($('#hira_risk_minor').is(":checked") == true ? '1' : '0'),
                ptw_unsafe: '' + ($('#ptw_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#ptw_unsafe_cond').is(":checked") == true ? '1' : '0'),
                ptw_safe: '' + ($('#ptw_safe_act').is(":checked") == true ? '1' : '0') + ($('#ptw_safe_cond').is(":checked") == true ? '1' : '0'),
                ptw_risk: '' + ($('#ptw_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#ptw_risk_major').is(":checked") == true ? '1' : '0') + ($('#ptw_risk_minor').is(":checked") == true ? '1' : '0'),
                sop_unsafe: '' + ($('#sop_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#sop_unsafe_cond').is(":checked") == true ? '1' : '0'),
                sop_safe: '' + ($('#sop_safe_act').is(":checked") == true ? '1' : '0') + ($('#sop_safe_cond').is(":checked") == true ? '1' : '0'),
                sop_risk: '' + ($('#sop_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#sop_risk_major').is(":checked") == true ? '1' : '0') + ($('#sop_risk_minor').is(":checked") == true ? '1' : '0'),
                msds_unsafe: '' + ($('#msds_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#msds_unsafe_cond').is(":checked") == true ? '1' : '0'),
                msds_safe: '' + ($('#msds_safe_act').is(":checked") == true ? '1' : '0') + ($('#msds_safe_cond').is(":checked") == true ? '1' : '0'),
                msds_risk: '' + ($('#msds_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#msds_risk_major').is(":checked") == true ? '1' : '0') + ($('#msds_risk_minor').is(":checked") == true ? '1' : '0'),
                emergency_unsafe: '' + ($('#emergency_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#emergency_unsafe_cond').is(":checked") == true ? '1' : '0'),
                emergency_safe: '' + ($('#emergency_safe_act').is(":checked") == true ? '1' : '0') + ($('#emergency_safe_cond').is(":checked") == true ? '1' : '0'),
                emergency_risk: '' + ($('#emergency_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#emergency_risk_major').is(":checked") == true ? '1' : '0') + ($('#emergency_risk_minor').is(":checked") == true ? '1' : '0'),
                certificates_unsafe: '' + ($('#certificates_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#certificates_unsafe_cond').is(":checked") == true ? '1' : '0'),
                certificates_safe: '' + ($('#certificates_safe_act').is(":checked") == true ? '1' : '0') + ($('#certificates_safe_cond').is(":checked") == true ? '1' : '0'),
                certificates_risk: '' + ($('#certificates_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#certificates_risk_major').is(":checked") == true ? '1' : '0') + ($('#certificates_risk_minor').is(":checked") == true ? '1' : '0'),
                ppe_unsafe: '' + ($('#ppe_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#ppe_unsafe_cond').is(":checked") == true ? '1' : '0'),
                ppe_safe: '' + ($('#ppe_safe_act').is(":checked") == true ? '1' : '0') + ($('#ppe_safe_cond').is(":checked") == true ? '1' : '0'),
                ppe_risk: '' + ($('#ppe_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#ppe_risk_major').is(":checked") == true ? '1' : '0') + ($('#ppe_risk_minor').is(":checked") == true ? '1' : '0'),
                hand_unsafe: '' + ($('#hand_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#hand_unsafe_cond').is(":checked") == true ? '1' : '0'),
                hand_safe: '' + ($('#hand_safe_act').is(":checked") == true ? '1' : '0') + ($('#hand_safe_cond').is(":checked") == true ? '1' : '0'),
                hand_risk: '' + ($('#hand_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#hand_risk_major').is(":checked") == true ? '1' : '0') + ($('#hand_risk_minor').is(":checked") == true ? '1' : '0'),
                mechanical_unsafe: '' + ($('#mechanical_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#mechanical_unsafe_cond').is(":checked") == true ? '1' : '0'),
                mechanical_safe: '' + ($('#mechanical_safe_act').is(":checked") == true ? '1' : '0') + ($('#mechanical_safe_cond').is(":checked") == true ? '1' : '0'),
                mechanical_risk: '' + ($('#mechanical_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#mechanical_risk_major').is(":checked") == true ? '1' : '0') + ($('#mechanical_risk_minor').is(":checked") == true ? '1' : '0'),
                electrical_unsafe: '' + ($('#electrical_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#electrical_unsafe_cond').is(":checked") == true ? '1' : '0'),
                electrical_safe: '' + ($('#electrical_safe_act').is(":checked") == true ? '1' : '0') + ($('#electrical_safe_cond').is(":checked") == true ? '1' : '0'),
                electrical_risk: '' + ($('#electrical_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#electrical_risk_major').is(":checked") == true ? '1' : '0') + ($('#electrical_risk_minor').is(":checked") == true ? '1' : '0'),
                vehicular_unsafe: '' + ($('#vehicular_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#vehicular_unsafe_cond').is(":checked") == true ? '1' : '0'),
                vehicular_safe: '' + ($('#vehicular_safe_act').is(":checked") == true ? '1' : '0') + ($('#vehicular_safe_cond').is(":checked") == true ? '1' : '0'),
                vehicular_risk: '' + ($('#vehicular_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#vehicular_risk_major').is(":checked") == true ? '1' : '0') + ($('#vehicular_risk_minor').is(":checked") == true ? '1' : '0'),
                substandard_unsafe: '' + ($('#substandard_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#substandard_unsafe_cond').is(":checked") == true ? '1' : '0'),
                substandard_safe: '' + ($('#substandard_safe_act').is(":checked") == true ? '1' : '0') + ($('#substandard_safe_cond').is(":checked") == true ? '1' : '0'),
                substandard_risk: '' + ($('#substandard_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#substandard_risk_major').is(":checked") == true ? '1' : '0') + ($('#substandard_risk_minor').is(":checked") == true ? '1' : '0'),
                h2s_unsafe: '' + ($('#h2s_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#h2s_unsafe_cond').is(":checked") == true ? '1' : '0'),
                h2s_safe: '' + ($('#h2s_safe_act').is(":checked") == true ? '1' : '0') + ($('#h2s_safe_cond').is(":checked") == true ? '1' : '0'),
                h2s_risk: '' + ($('#h2s_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#h2s_risk_major').is(":checked") == true ? '1' : '0') + ($('#h2s_risk_minor').is(":checked") == true ? '1' : '0'),
                workplace_health_unsafe: '' + ($('#workplace_health_unsafe_act').is(":checked") == true ? '1' : '0') + ($('#workplace_health_unsafe_cond').is(":checked") == true ? '1' : '0'),
                workplace_health_safe: '' + ($('#workplace_health_safe_act').is(":checked") == true ? '1' : '0') + ($('#workplace_health_safe_cond').is(":checked") == true ? '1' : '0'),
                workplace_health_risk: '' + ($('#workplace_health_risk_fatality').is(":checked") == true ? '1' : '0') + ($('#workplace_health_risk_major').is(":checked") == true ? '1' : '0') + ($('#workplace_health_risk_minor').is(":checked") == true ? '1' : '0'),
                date_time: $('#date_time').val(),
                observer: $('#observer').val()+'#'+'@HttpContext.Current.Session["id"]',
                department: $('#department').val(),
                location: $('#location').val(),
                activity: $('#activity').val(),
                safe_observed: $('#safe_observed').is(":checked") == true ? 1 : 0,
                safe_observeds: $('#safe_observeds').val(),
                action_encourages: $('#action_encourages').is(":checked") == true ? 1 : 0,
                action_encourage: $('#action_encourage').val(),
                unsafe_observed: $('#unsafe_observed').is(":checked") == true ? 1 : 0,
                unsafe_observeds: $('#unsafe_observeds').val(),
                immediate_corrective_act: $('#immediate_corrective_act').is(":checked") == true ? 1 : 0,
                immediate_corrective_acts: $('#immediate_corrective_acts').val(),
                action_prevents: $('#action_prevents').is(":checked") == true ? 1 : 0,
                action_prevent: $('#action_prevent').val(),
                type_equipment: $('#ppe_equipment').val(),
                equipment_employee: equipment_employee,
                equipment_id: $('#equipment_id').val(),
                employee_id: employee_id
            }

            $('#realmod_save').css("display", "block");
            if (isEdit == 'False') {
                $.post("SheObservation/Add", values, function (data) {
                    if (data != undefined) {
                        isSave = true;
                        $('#realmod_save').css("display", "none");
                        alert('SHE Observation successfully saved');
                        $('#contentEventLog').load('SheObservation/addSheObservation');
                    } else {
                        $('#realmod_save').css("display", "none");
                        alert('Fail to add SHE Observation');
                    }
                });
            } else if (isEdit == 'True') {
                isSave = true;
                var ids = '@id';
                values.id = ids;
                $.post("SheObservation/Edit", values, function (data) {
                    if (data != undefined) {
                        $('#realmod_save').css("display", "none");
                        alert('SHE Observation successfully updated');
                        back();
                    } else {
                        $('#realmod_save').css("display", "none");
                        alert('Fail to update SHE Observation');
                    }
                });
            }
        }
    }

    function validate() {
        var ret = true;
        if ($('#location').val() == "") {
            ret = false;
            alert("Location can not empty");
        }

        if ($('#accident_unsafe_act').is(":checked") == 0 && $('#accident_safe_act').is(":checked") == 0 && $('#accident_unsafe_cond').is(":checked") == 0 && $('#accident_safe_cond').is(":checked") == 0 && 
            $('#fire_unsafe_act').is(":checked") == 0 && $('#fire_safe_act').is(":checked") == 0 && $('#fire_unsafe_cond').is(":checked") == 0 && $('#fire_safe_cond').is(":checked") == 0 && 
            $('#prevention_unsafe_act').is(":checked") == 0 && $('#prevention_safe_act').is(":checked") == 0 && $('#prevention_unsafe_cond').is(":checked") == 0 && $('#prevention_safe_cond').is(":checked") == 0 && 
            $('#supervisor_unsafe_act').is(":checked") == 0 && $('#supervisor_safe_act').is(":checked") == 0 && $('#supervisor_unsafe_cond').is(":checked") == 0 && $('#supervisor_safe_cond').is(":checked") == 0 && 
            $('#fit_work_unsafe_act').is(":checked") == 0 && $('#fit_work_safe_act').is(":checked") == 0 && $('#fit_work_unsafe_cond').is(":checked") == 0 && $('#fit_work_safe_cond').is(":checked") == 0 && 
            $('#psychological_unsafe_act').is(":checked") == 0 && $('#psychological_safe_act').is(":checked") == 0 && $('#psychological_unsafe_cond').is(":checked") == 0 && $('#psychological_safe_cond').is(":checked") == 0 && 
            $('#posture_unsafe_act').is(":checked") == 0 && $('#posture_safe_act').is(":checked") == 0 && $('#posture_unsafe_cond').is(":checked") == 0 && $('#posture_safe_cond').is(":checked") == 0 && 
            $('#substance_unsafe_act').is(":checked") == 0 && $('#substance_safe_act').is(":checked") == 0 && $('#substance_unsafe_cond').is(":checked") == 0 && $('#substance_safe_cond').is(":checked") == 0 && 
            $('#hygiene_unsafe_act').is(":checked") == 0 && $('#hygiene_safe_act').is(":checked") == 0 && $('#hygiene_unsafe_cond').is(":checked") == 0 && $('#hygiene_safe_cond').is(":checked") == 0 && 
            $('#house_unsafe_act').is(":checked") == 0 && $('#house_safe_act').is(":checked") == 0 && $('#house_unsafe_cond').is(":checked") == 0 && $('#house_safe_cond').is(":checked") == 0 && 
            $('#standard_unsafe_act').is(":checked") == 0 && $('#standard_safe_act').is(":checked") == 0 && $('#standard_unsafe_cond').is(":checked") == 0 && $('#standard_safe_cond').is(":checked") == 0 && 
            $('#spill_unsafe_act').is(":checked") == 0 && $('#spill_safe_act').is(":checked") == 0 && $('#spill_unsafe_cond').is(":checked") == 0 && $('#spill_safe_cond').is(":checked") == 0 && 
            $('#waste_energy_unsafe_act').is(":checked") == 0 && $('#waste_energy_safe_act').is(":checked") == 0 && $('#waste_energy_unsafe_cond').is(":checked") == 0 && $('#waste_energy_safe_cond').is(":checked") == 0 && 
            $('#containment_unsafe_act').is(":checked") == 0 && $('#containment_safe_act').is(":checked") == 0 && $('#containment_unsafe_cond').is(":checked") == 0 && $('#containment_safe_cond').is(":checked") == 0 && 
            $('#absorbent_unsafe_act').is(":checked") == 0 && $('#absorbent_safe_act').is(":checked") == 0 && $('#absorbent_unsafe_cond').is(":checked") == 0 && $('#absorbent_safe_cond').is(":checked") == 0 && 
            $('#hira_unsafe_act').is(":checked") == 0 && $('#hira_safe_act').is(":checked") == 0 && $('#hira_unsafe_cond').is(":checked") == 0 && $('#hira_safe_cond').is(":checked") == 0 && 
            $('#ptw_unsafe_act').is(":checked") == 0 && $('#ptw_safe_act').is(":checked") == 0 && $('#ptw_unsafe_cond').is(":checked") == 0 && $('#ptw_safe_cond').is(":checked") == 0 && 
            $('#sop_unsafe_act').is(":checked") == 0 && $('#sop_safe_act').is(":checked") == 0 && $('#sop_unsafe_cond').is(":checked") == 0 && $('#sop_safe_cond').is(":checked") == 0 && 
            $('#msds_unsafe_act').is(":checked") == 0 && $('#msds_safe_act').is(":checked") == 0 && $('#msds_unsafe_cond').is(":checked") == 0 && $('#msds_safe_cond').is(":checked") == 0 && 
            $('#emergency_unsafe_act').is(":checked") == 0 && $('#emergency_safe_act').is(":checked") == 0 && $('#emergency_unsafe_cond').is(":checked") == 0 && $('#emergency_safe_cond').is(":checked") == 0 && 
            $('#certificates_unsafe_act').is(":checked") == 0 && $('#certificates_safe_act').is(":checked") == 0 && $('#certificates_unsafe_cond').is(":checked") == 0 && $('#certificates_safe_cond').is(":checked") == 0 && 
            $('#ppe_unsafe_act').is(":checked") == 0 && $('#ppe_safe_act').is(":checked") == 0 && $('#ppe_unsafe_cond').is(":checked") == 0 && $('#ppe_safe_cond').is(":checked") == 0 && 
            $('#hand_unsafe_act').is(":checked") == 0 && $('#hand_safe_act').is(":checked") == 0 && $('#hand_unsafe_cond').is(":checked") == 0 && $('#hand_safe_cond').is(":checked") == 0 && 
            $('#mechanical_unsafe_act').is(":checked") == 0 && $('#mechanical_safe_act').is(":checked") == 0 && $('#mechanical_unsafe_cond').is(":checked") == 0 && $('#mechanical_safe_cond').is(":checked") == 0 && 
            $('#electrical_unsafe_act').is(":checked") == 0 && $('#electrical_safe_act').is(":checked") == 0 && $('#electrical_unsafe_cond').is(":checked") == 0 && $('#electrical_safe_cond').is(":checked") == 0 && 
            $('#vehicular_unsafe_act').is(":checked") == 0 && $('#vehicular_safe_act').is(":checked") == 0 && $('#vehicular_unsafe_cond').is(":checked") == 0 && $('#vehicular_safe_cond').is(":checked") == 0 && 
            $('#substandard_unsafe_act').is(":checked") == 0 && $('#substandard_safe_act').is(":checked") == 0 && $('#substandard_unsafe_cond').is(":checked") == 0 && $('#substandard_safe_cond').is(":checked") == 0 && 
            $('#h2s_unsafe_act').is(":checked") == 0 && $('#h2s_safe_act').is(":checked") == 0 && $('#h2s_unsafe_cond').is(":checked") == 0 && $('#h2s_safe_cond').is(":checked") == 0 && 
            $('#workplace_health_unsafe_act').is(":checked") == 0 && $('#workplace_health_safe_act').is(":checked") == 0 && $('#workplace_health_unsafe_cond').is(":checked") == 0 && $('#workplace_health_safe_cond').is(":checked") == 0) {
            ret = false;
            alert("Safe / Unsafe must be checked min. 1");
        }
        return ret;
    }

    $(document).ready(function() {
        $('#equip_choose').click(function () {
            $('#equipment_id').css('display', 'block');
            $('#employee_id').css('display', 'none');
            $('#employee_id').val('');
        });

        $('#employee_choose').click(function () {
            $('#employee_id').css('display', 'block');
            $('#equipment_id').css('display', 'none');
            $('#equipment_id').val('');
        });
    });
    var arrayName = [];

    @{has = has.OrderBy(p => p.alpha_name).ToList();}
    @foreach (StarEnergi.Models.EmployeeEntity em in has)
    {
        <text>arrayName[@em.id] = "@em.alpha_name";</text>
    }
    function check() {
        document.getElementById("chosenList").innerHTML = "";
        var employee_id = "";
        var checkBoxes = $("input[name='employee']");
        $.each(checkBoxes, function () {
            if ($(this).attr('checked')) {
                var node = document.createElement("li");
                var textnode = document.createTextNode(arrayName[$(this).val()]);
                node.appendChild(textnode);
                document.getElementById("chosenList").appendChild(node);
            }
        });
    }

    $(document).ready(function () {
        bindatch();
    });
</script>
