@model StarEnergi.Models.employee

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript">
    function edit() {
        $('#content').load('employee/edit/'+ @Model.id);
    }

    $(document).ready(function() {
        $('#delegate_name').attr('disabled', 'disabled');
    });
    
</script>
<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>

    <div class="display-label">Employee No.</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.employee_no)
    </div>

    <div class="display-label">Alpha Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alpha_name)
    </div>

    <div class="display-label">Department</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.department)
    </div>

    <div class="display-label">Position</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.position)
    </div>

    <div class="display-label">Approval Level</div>
    <div class="display-field">
        @(Model.approval_level == 1 ? "Supervisor" : (Model.approval_level == 2 ? "Superintendent" : "None"))
    </div>

    <div class="display-label">Work Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.work_location)
    </div>

    <div class="display-label">DOH</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dob)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>
    <div class="editor-label">
        @Html.Label("Delegate")
    </div>
    <div class="editor-field">
        <input type="checkbox" id="delegate" name="delegate" value="1" @(Model.delagate == 1 ? "checked" : "") disabled/>&nbsp;@Html.DropDownList("delegate_name")
    </div>
    <div class="display-label">Is Contractor PTC?</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_contractor_ptc)
    </div>
    <div class="display-label">Signature</div>
    <div class="display-field">
        <img id="img_signature" width="100" height="100" @(Model.signature == null ? "style=display:none;" : "style=display:block;")  src="@Model.signature"/>
    </div>
    <p>
        <input type="button" value="Edit" onclick="edit()" />
    </p>
</fieldset>
