@model StarEnergi.Models.employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    function onSuccessSignature(data) {
        $('#img_signature').attr('src', data.response.path);
        $('#img_signature').css('display', 'block');
        $('#img_sign_src').val(data.response.path);
    }

    function save() {
        radios = document.getElementsByName("approval_level");
        var approval_level = 0;
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                approval_level = radios[i].value;
            }
        }

        var isContractorPtc = null;
        if ($('#is_contractor_ptc').is(":checked"))
        {
            isContractorPtc = true;
        }
        else
        {
            isContractorPtc = false;
        }

        var values =
        {
            "Id": $('#id').val(),
            "employee_no": $('#employee_no').val(),
            "alpha_name": $('#alpha_name').val(),
            "position": $('#position').val(),
            "work_location": $('#work_location').val(),
            "dob": $('#dob').val(),
            "email": $('#email').val(),
            "dept_id": eval('@ViewBag.dept_id'),
            "department":$('#department').val(),
            "employee_boss": eval('@ViewBag.employee_id'),
            "signature": $('#img_sign_src').val(),
            "approval_level": approval_level,
            "delagate": '@Model.delagate',
            "employee_delegate": '@Model.employee_delegate',
            "is_contractor_ptc":isContractorPtc
        }

        $.post("Employee/Edit", values, function (data) {
            if (data != undefined) {
                if (data["status"] == 0) {
                    var html = $('#TreeSBSEmployee').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().find('img').attr('src');
                    var image = '<img class="t-image" src="' + html + '" alt="image">';
                    $('#TreeSBSEmployee').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().html(image + $('#alpha_name').val());
                    var value =
                    {
                        "Id": $('#id').val(),
                        "delagate": $('#delegate').is(':checked') == true ? 1 : 0,
                        "employee_delegate": $('#delegate').is(':checked') == true ? $('#delegate_name').val() : ""
                    }

                    var valuesPost =
                    {
                        "Id": 0,
                        "id_employee": value.Id,
                        "is_active": true,
                        "id_delegate": value.employee_delegate,
                        "date_start": '@DateTime.Now.ToString("dd/MM/yyyy")',
                        "date_end": '@DateTime.Now.AddMonths(2).ToString("dd/MM/yyyy")',
                    }
                    console.log(valuesPost);
                    console.log(value.employee_delegate != '@Model.employee_delegate');
                    if (value.delagate != '@Model.delagate' || value.employee_delegate != '@Model.employee_delegate') {
                        $.post('@Url.Content("~/Account/Delegate")', valuesPost, function (data) {
                            if (data != undefined) {
                                if (data["status"] == 0) {
                                    if (value.delagate == 1)
                                        alert('You have delegated ' + $('#alpha_name').val() + ' approval');
                                    else
                                        alert('You have removed ' + $('#alpha_name').val() + ' delegation');

                                    $('#content').load('Employee/details/' + $('#id').val());
                                } else {
                                    clearError();
                                    $.each(data, function (index, value) {
                                        if (index != "status") {
                                            //error render
                                            $('#' + index).next('div').html(value);
                                        }
                                    });
                                }
                            } else {
                                alert('Error edited data');
                            }
                        });
                    } else {
                        $('#content').load('Employee/details/' + $('#id').val());
                    }
                } else {
                    clearError();
                    $.each(data, function (index, value) {
                        if (index != "status") {
                            //error render
                            $('#' + index).next('div').html(value);
                        }
                    });
                }
            } else {
                alert('Gagal mengedit data employee');
            }
        });
    }

    function click() {
        if ($('#delegate').is(':checked')) {
            alert('a');
            $('#delegate_name').removeAttr('disabled');
        } else {
            alert("b");
            $('#delegate_name').val('');
            $('#delegate_name').attr('disabled', 'disabled');

        }
    };

    $(document).ready(function () {
        $("#delegate").change(function () {
            if ($(this).is(':checked')) {
                $('#delegate_name').removeAttr('disabled');
            } else {
                $('#delegate_name').val('');
                $('#delegate_name').attr('disabled', 'disabled');
            }
        });

        if ($("#delegate").is(':checked')) {
            $('#delegate_name').removeAttr('disabled');
        } else {
            $('#delegate_name').val('');
            $('#delegate_name').attr('disabled', 'disabled');
        }
    });

    function clearError() {
        var field = ["alpha_name", "employee_no", "location", "work_location", "dob","email","department"];
        $.each(field, function (index, value) {
            $('#' + value).next('div').html('');
        });
    }

</script>
<div class="fieldR">* Required Field</div>
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Employee</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.employee_no)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.employee_no)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.alpha_name)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.alpha_name)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.department)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.department)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.position)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.position)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.approval_level)
        </div>
        <div class="editor-field">
            <input type="radio" name="approval_level" value="0" id="approval_level_0" @(Model.approval_level == 0 ? "checked" : "") />None
            <input type="radio" name="approval_level" value="1" id="approval_level_1" @(Model.approval_level == 1 ? "checked" : "") />Supervisor
            <input type="radio" name="approval_level" value="2" id="approval_level_2" @(Model.approval_level == 2 ? "checked" : "") />Superintendent
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.work_location)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.work_location)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.dob)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dob)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.email)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.Label("Delegate")
        </div>
        <div class="editor-field">
            <input type="checkbox" id="delegate" name="delegate" value="1" @(Model.delagate == 1 ? "checked" : "") />&nbsp;@Html.DropDownList("delegate_name")
        </div>
        <div class="editor-label">
            @Html.Label("Is Contractor PTC?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.is_contractor_ptc)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.signature)
        </div>
        <div class="editor-field">
            @(Html.Telerik().Upload()
                .Name("signature")
                .Async(async => async
                    .Save("saveSignature", "Employee", new { id = Model.id })
                    .AutoUpload(true)
                    )
                .ClientEvents(events => events
                    .OnSuccess("onSuccessSignature"))
                .ShowFileList(false)
                .HtmlAttributes(new { @class = "signature" })
            )
            <img id="img_signature" width="100" height="100" @(Model.signature == null ? "style=display:none;" : "style=display:block;")  src="@Model.signature"/>
            <input id="img_sign_src" type="hidden" value ="@Model.signature" />
            <div class="errorM"></div>
        </div>
        <p>
            <input type="submit" value="Save" onclick="save()"/>
        </p>
    </fieldset>
