@{
    var htmlAttributes = new { style = "float: left;width: 180px;position: absolute; margin-left: 10px;" };
    List<StarEnergi.Models.user_per_role> li = null;
    if (HttpContext.Current.Session["roles"] != null)
    {
        li = HttpContext.Current.Session["roles"] as List<StarEnergi.Models.user_per_role>;
        
    } else {
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
        var returnUrl = HttpContext.Current.Request.RawUrl.Replace(baseurl, "");
        System.Diagnostics.Debug.WriteLine("returnUrl = " + returnUrl);
        if ((returnUrl.Contains("rca") || returnUrl.Contains("pir") || returnUrl.Contains("Hse") || returnUrl.Contains("admin")) && !returnUrl.Contains("LogOn")) {
            HttpContext.Current.Response.Redirect(@Url.Action("LogOn", "Account", new { returnUrl = returnUrl }));
        }
    }
    //HttpContext.Current.Response.Redirect(@Url.Action("LogOn","Account",new {returnUrl = returnUrl}));
}    

<link rel="stylesheet" type="text/css" href="/Content/bootstrap.css">
    <link href="/Content/Dashboard.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/application.js"></script>	

<body>
	<div class="primary">
			<h3 style="color:#24525f" align="center">DASHBOARD</h3>
		<div class="MENU">
			<div id="top">
				<div class="menuImage">
					<img src="/Content/image/settings.jpg" width="64" height="64"/>
					<br/>
					<a href="#" class="btn" data-toggle="popover"  data-content='<a href="@Url.Action("Index", "FracasEventLog")">FRACAS Event Log</a><br/><a href="@Url.Action("Index", "FracasHistory")">Historical Data</a>@(li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.FRACAS) ? "<br/><a href=" + @Url.Action("Index", "Fracas") + ">FRACAS Input</a><br/><a href=" + @Url.Action("Index", "Troubleshooting") + ">Troubleshooting</a>" : "")' data-placement="bottom" title="FRACAS" data-original-title="Popover on top" data-html="true">FRACAS</a>
				</div>
				<div class="menuImage">
					<img src="/Content/image/SAFETY_icon (1).png" width="64" height="64"/>
					<br/>
					<a id="SHE" href="#" class="btn" data-toggle="popover" data-placement="bottom" data-content="<a href=@Url.Action("Index", "Incident")>SHE Incident Report</a>@if (li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.IIR)) { <text><br/><a href=@Url.Action("Index", "Investigation")>SHE Incident Investigation Report</a></text>}@if(li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.AUDITOR)) { <text><br/><a href=@Url.Action("Index", "HseAuditor")>SHE Audit</a></text> }@if (li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.MEDIC)) { <text><br/><a href=@Url.Action("Index", "HseInjuryReport")>SHE Injury Report</a></text>}<br/><a href=@Url.Action("Index", "SheObservation")>SHE Observation Form</a>" title="SHE" data-original-title="Popover on top" data-html="true">SHE</a>
				</div>
				<div class="menuImage">
					<img src="/Content/image/info.ico" width="64" height="64"/>
					<br/>
					<a href=@Url.Action("Index", "DailyLogs") class="btn">Daily Log</a>
				</div>
			</div>
		
			<div id="bottom">
				<div class="menuImage">
					<img src="/Content/image/Custom-Icon-Design-Pretty-Office-3-Distributor-report.png" width="64" height="64"/>
					<br/>
					<a id="dailyReport" href=@Url.Action("Index", "EquipmentDailyreport") class="btn">Equipt. Report</a>
				</div>
				<div class="menuImage">
					<img src="/Content/image/folder_add.ico" width="64" height="64"/>
					<br/>
				<a href=@Url.Action("Index", "rca") class="btn" title="RCA">RCA</a>
				</div>
				<div class="menuImage">
					<img src="/Content/image/process.ico" width="64" height="64"/>
					<br/>
					<a id="PIR" href="#" class="btn" data-toggle="popover" data-placement="bottom" data-content="@(li != null && li.Exists(p => p.role == (int)StarEnergi.Config.role.PIRINITIATOR || p.role == (int)StarEnergi.Config.role.PIRPROCESS || p.role == (int)StarEnergi.Config.role.FULLPIR || p.role == (int)StarEnergi.Config.role.AUDITOR) ? "<a href=" + @Url.Action("Index", "PIR") + ">PIR</a><br/><a href=" + @Url.Action("Report", "PIR", new { id_page = 1}) + ">PIR Report</a>" : "")" title="PIR" data-original-title="Popover on top" data-html="true">PIR</a>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>
</body>