@model StarEnergi.Models.component

<script type="text/javascript">
    $(document).ready(function () {
        @*$('#updateBOM').load('BuildOfMAterial/RenderUpdate/?id=' + '@Model.id' + '&level=7');*@
        $('#updateBOM').load('BuildOfMAterial/RenderUpdateComponent/?id=' + '@Model.id' + '&type=comp');
    })

</script>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#installed_date").val('@DateTime.Now');
        $("#installed_date").prop('disabled', true);
    });

    function save() {
        var values =
        {
            @*"Id": $('#id').val(),
            "tag_number": $('#tag_number').val(),
            "id_equipment_part": eval('@ViewBag.id_equipment_part'),
            "description": $('#descriptions').val()*@

            "id": $('#id').val(),
            "id_equipment_part": eval('@ViewBag.id_equipment_part'),
            "component_name": $('#component_name').val(),
            "tag_number": $('#tag_number').val(),
            "functional_code": $('#functional_code').val(),
            "installed_date": $('#installed_date').val(),
            "description": $('#descriptions').val(),
        }

        $.post("Component/Edit", values, function (data) {
            if (data != undefined) {
                if (data["status"] == 0) {
                    var html = $('#TreeSBS').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().find('img').attr('src');
                    var image = '<img class="t-image" src="' + html + '" alt="image">';
                    //$('#TreeSBS').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().html(image + $('#tag_number').val());
                    $('#TreeSBS').find('input.t-input[name="itemValue"][value="' + data["message"] + '"]').prev().html(image + $('#component_name').val());
                    $('#content').load('Component/details/' + $('#id').val());
                } else {
                    clearError();
                    $.each(data, function (index, value) {
                        if (index != "status") {
                            //error render
                            $('#' + index).next('div').html(value);
                        }
                    });
                }
            } else {
                alert('Gagal mengedit data equipment');
            }
        });

    }

    function clearError() {
        //var field = ["tag_number"];
        var field = ["component_name", "tag_number", "functional_code", "installed_date", "description"];
        $.each(field, function (index, value) {
            $('#' + value).next('div').html('');
        });
    }
</script>
<div class="fieldR">* Required Field</div>
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Component</legend>

        @Html.HiddenFor(model => model.id)


        @*<div class="editor-label">
            No Key Map<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag_number)
            <div class="errorM"></div>
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.description, new { id = "descriptions"})
            <div class="errorM"></div>
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.component_name)<a class="bintang">*</a>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.component_name)
            <div class="errorM"></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tag_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag_number)
            <div class="errorM"></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.functional_code)
        </div>
        <div class="editor-field">
            @ViewBag.unitFuncCode@ViewBag.systemFuncCode@ViewBag.equipmentFuncCode@Html.EditorFor(model => model.functional_code)
            <div class="errorM"></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.installed_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.installed_date)
            <div class="errorM"></div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.description, new { id = "descriptions" })
            <div class="errorM"></div>
        </div>

        <p>
            <input type="submit" value="Save" onclick="save()"/>
        </p>
    </fieldset>
<div id="updateBOM">

</div>